@charset "utf-8";
//@import "reset.css";
%center{
  position: absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate3d(-50%,-50%,0);
  -moz-transform:translate3d(-50%,-50%,0);
  -ms-transform:translate3d(-50%,-50%,0);
  -o-transform:translate3d(-50%,-50%,0);
  transform:translate3d(-50%,-50%,0);
}
/*去掉自带number样式*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin:0;
}
input[type="number"]{
  -moz-appearance: textfield;
  ime-mode:disabled;
}
input::-ms-clear
{display:none;}