<div class="ware_sec_nav">
   <div class="ware_sec_nav_content">
       <ul class="nav nav-justified ware_sec_nav_title">
           <li ui-sref-active="sec_nav_active"><a ui-sref=".bdStoreMgmt">仓库管理</a></li>
           <li ui-sref-active="sec_nav_active"><a ui-sref=".bdReservoirMgmt">库区管理</a></li>
           <li ui-sref-active="sec_nav_active"><a ui-sref=".locationMgmt">库位管理</a></li>
           <li ui-sref-active="sec_nav_active"><a ui-sref=".platformMgmt">月台管理</a></li>
           <li ui-sref-active="sec_nav_active"><a ui-sref=".merchantsMgmt">客商管理</a></li>
           <li ui-sref-active="sec_nav_active"><a ui-sref=".itemType">货品类型</a></li>
           <li ui-sref-active="sec_nav_active"><a ui-sref=".bdGoodsMgmt">货品管理</a></li>
           <li ui-sref-active="sec_nav_active"><a ui-sref=".bdPackagingMgmt">包装管理</a></li>
           <li ui-sref-active="sec_nav_active"><a ui-sref=".locationSpecifications">库位规格</a></li>
           <li ui-sref-active="sec_nav_active"><a ui-sref=".databaseSetup">库容量设置</a></li>
           <li ui-sref-active="sec_nav_active"><a ui-sref=".workspaceMgmt">工作区管理</a></li>
           <li ui-sref-active="sec_nav_active"><a ui-sref=".equipmentMgmt">设备管理</a></li>
       </ul>
   </div>
</div>
<div class="wms_container" ui-view></div>