<div class="ware_sec_nav">
   <div class="ware_sec_nav_content">
       <ul class="nav nav-justified ware_sec_nav_title">
           <li ui-sref-active="sec_nav_active"><a ui-sref=".bdStoreMgmt">仓库管理</a></li>
           <li ui-sref-active="sec_nav_active"><a ui-sref=".bdReservoirMgmt">库区管理</a></li>
           <li ui-sref-active="sec_nav_active"><a href="#">库位管理</a></li>
           <li ui-sref-active="sec_nav_active"><a href="#">月台管理</a></li>
           <li ui-sref-active="sec_nav_active"><a href="#">客商管理</a></li>
           <li ui-sref-active="sec_nav_active"><a href="#">货品类型</a></li>
           <li ui-sref-active="sec_nav_active"><a >包装管理</a></li>
           <li ui-sref-active="sec_nav_active"><a href="#">库位规格</a></li>
           <li ui-sref-active="sec_nav_active"><a href="#">库容量设置</a></li>
           <li ui-sref-active="sec_nav_active"><a>工作区管理</a></li>
           <li ui-sref-active="sec_nav_active"><a>设备管理</a></li>
       </ul>
   </div>
</div>
<div ui-view></div>