<div class="ware_sec_nav">
   <div class="ware_sec_nav_content">
       <ul class="nav nav-justified ware_sec_nav_title">
           <li ui-sref-active="sec_nav_active"><a ui-sref=".epManagement">企业管理</a></li>
           <li ui-sref-active="sec_nav_active"><a ui-sref=".rightsMgmt">权限管理</a></li>
           <li ui-sref-active="sec_nav_active"><a href="#">角色管理</a></li>
           <li ui-sref-active="sec_nav_active"><a href="#">用户管理</a></li>
           <li ui-sref-active="sec_nav_active"><a href="#">人员管理</a></li>
           <li ui-sref-active="sec_nav_active"><a href="#">报表管理</a></li>
           <li ui-sref-active="sec_nav_active"><a ui-sref="dfd">全局管理</a></li>
           <li ui-sref-active="sec_nav_active"><a href="#">接口管理</a></li>
           <li ui-sref-active="sec_nav_active"><a href="#">操作日志</a></li>
           <li ui-sref-active="sec_nav_active"><a ui-sref="dfd">库存日志</a></li>
       </ul>
   </div>
</div>
<div ui-view></div>