<div class="ware_sec_nav">
   <div class="ware_sec_nav_content">
       <ul class="nav nav-justified ware_sec_nav_title">

           <li ui-sref-active="sec_nav_active"><a ui-sref=".epManagement">企业管理</a></li>
           <li ui-sref-active="sec_nav_active"><a ui-sref=".peopleMgmt">账户管理</a></li>
           <li ui-sref-active="sec_nav_active"><a ui-sref=".rightsMgmt">权限管理</a></li>

           <li ui-sref-active="sec_nav_active"><a ui-sref=".roleMgmt">角色管理</a></li>
           <li ui-sref-active="sec_nav_active"><a ui-sref=".usersMgmt">用户管理</a></li>

           <li ui-sref-active="sec_nav_active"><a ui-sref=".reportConfig">报表管理</a></li>
           <li ui-sref-active="sec_nav_active"><a ui-sref=".globalParameter">全局管理</a></li>
           <li ui-sref-active="sec_nav_active"><a ui-sref=".interfaceMgmt">接口管理</a></li>
           <li ui-sref-active="sec_nav_active"><a ui-sref=".operationLog">操作日志</a></li>
           <li ui-sref-active="sec_nav_active"><a ui-sref=".inventoryLog">库存日志</a></li>
       </ul>
   </div>
</div>
<div class="wms_container"  ui-view></div>
<back-to-top></back-to-top>
<back-to-bottom></back-to-bottom>