<div class="ware_sec_nav">
   <div class="ware_sec_nav_content">
       <ul class="nav nav-justified ware_sec_nav_title">
           <li ui-sref-active="sec_nav_active"><a ui-sref=".receiveMgmt">收货管理</a></li>
           <li ui-sref-active="sec_nav_active"><a ui-sref=".shelvesMgmt">上架管理</a></li>
           <li ui-sref-active="sec_nav_active"><a ui-sref=".deliveryGoodMgmt">发货管理</a></li>
           <li ui-sref-active="sec_nav_active"><a ui-sref=".pickingMgmt">拣选管理</a></li>
           <li ui-sref-active="sec_nav_active"><a ui-sref=".waveCountMgmt">波次管理</a></li>
           <li ui-sref-active="sec_nav_active"><a ui-sref=".inventoryMgmt">库房管理</a></li>
           <li ui-sref-active="sec_nav_active"><a ui-sref=".takeStock" >盘点</a></li>
           <li ui-sref-active="sec_nav_active"><a ui-sref=".profitLossAdjustment">盈亏调整</a></li>
           <li ui-sref-active="sec_nav_active"><a ui-sref=".gression">位移</a></li>
       </ul>
   </div>
</div>
<div  class="wms_container" ui-view></div>
