<div class="ware_sec_nav">
   <div class="ware_sec_nav_content">
       <ul class="nav nav-justified ware_sec_nav_title">
           <li ui-sref-active="sec_nav_active"><a ui-sref=".receiveMgmt">收货管理</a></li>
           <li ui-sref-active="sec_nav_active"><a ui-sref=".shelvesMgmt">上架管理</a></li>
           <li ui-sref-active="sec_nav_active"><a ui-sref=".deliveryGoodMgmt">发货管理</a></li>
           <li ui-sref-active="sec_nav_active"><a ui-sref=".pickingMgmt">拣选管理</a></li>
           <li ui-sref-active="sec_nav_active"><a ui-sref=".waveCountMgmt">波次管理</a></li>
           <li ui-sref-active="sec_nav_active"><a ui-sref=".inventoryMgmt">库房管理</a></li>
           <li ui-sref-active="sec_nav_active"><a ui-sref=".takeStock" >盘点</a></li>
           <li ui-sref-active="sec_nav_active"><a ui-sref=".profitLossAdjustment">盈亏调整</a></li>
           <li ui-sref-active="sec_nav_active"><a ui-sref=".gression">位移</a></li>
       </ul>
   </div>
</div>
<div  class="wms_container" ui-view></div>


<!--批量收货按钮弹框-->
<search-modal  id="bulkGoodsModal">
    <div class="modal-body">
        <div class="row modal_row">
            <div class="col-sm-5 col-sm-offset-1">
                <div class="form-group">
                    <label  class="col-sm-5 control-label receive-form-title modal_label"><span class="color-red">*</span>收货库位 </label>
                    <div class="col-sm-7 ">
                        <input type="text" ng-model="searchReceiveMsg.asn.orderDate"
                               class="form-control"   onfocus="this.blur()" ng-click="btnAction.searchModel('select_wareLocation_searchModel')"
                               placeholder="收货库位">
                        <span  class="fa fa-search form-control-feedback modal_search" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group has-feedback">
                    <label  class="col-sm-5 control-label receive-form-title modal_label"><span class="color-red">*</span>作业人员 </label>
                    <div class="col-sm-7 ">
                        <input type="text" ng-model="searchReceiveMsg.asn.orderDate"
                               class="form-control"   onfocus="this.blur()" ng-click="btnAction.searchModel('select_users_searchModel')"
                               placeholder="作业人员">
                        <span  class="fa fa-search form-control-feedback modal_search" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-sm-2 col-sm-offset-3">
                <button type="button" class="btn btn-info" >批量收货</button>
            </div>
            <div class="col-sm-2 col-sm-offset-2">
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
            </div>
        </div>


    </div>
</search-modal>
<!--批量收货按钮弹框end-->

<!--货品代码弹框-->
<div class="modal fade bs-example-modal-lg"
     data-backdrop="static"
     data-keyboard="false" id="searchModel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">选择货品</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline">
                    <div class="form-group">
                        <label>货品代码：</label>
                        <input type="text" class="form-control" placeholder="货品代码">
                    </div>
                    <div class="form-group">
                        <label>货品名称：</label>
                        <input type="email" class="form-control" placeholder="货品名称">
                    </div>
                    <div class="form-group">
                        <label>包装单位：</label>
                        <input type="email" class="form-control" placeholder="包装单位">
                    </div>
                    <button type="submit" class="btn btn-primary">查询</button>
                </form>
                <div class="receive-table" data-example-id="hoverable-table">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>
                                <label>
                                    <input type="checkbox" aria-label="...">
                                </label>
                            </th>
                            <th>序号</th>
                            <th>货品代码</th>
                            <th>货品名称</th>
                            <th>批次</th>
                            <th>规格型号</th>
                            <th>包装单位</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th><label>
                                <input type="checkbox" aria-label="...">
                            </label></th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <page></page>
            </div>

        </div>
    </div>
</div>
<!--/货品代码弹框-->

<!--选择用户弹框-->
<div class="modal fade bs-example-modal-lg"
     data-backdrop="static"
     data-keyboard="false" id="select_users_searchModel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" >
                    选择用户</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline">
                    <div class="form-group">
                        <label>用户编号：</label>
                        <input type="text" class="form-control" placeholder="货品代码">
                    </div>
                    <div class="form-group">
                        <label>姓名：</label>
                        <input type="email" class="form-control" placeholder="货品名称">
                    </div>
                    <div class="form-group">
                        <label>手机号：</label>
                        <input type="email" class="form-control" placeholder="包装单位">
                    </div>
                    <button type="submit" class="btn btn-primary">查询</button>
                </form>
                <div class="receive-table" data-example-id="hoverable-table">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>
                                <label>
                                    <input type="checkbox" aria-label="...">
                                </label>
                            </th>
                            <th>序号</th>
                            <th>用户编号</th>
                            <th>姓名</th>
                            <th>手机号</th>
                            <th>所属班组</th>
                            <th>当前作业</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th><label>
                                <input type="checkbox" aria-label="...">
                            </label></th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <page></page>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" >确认</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<!--选择用户end-->

<!--选择库位modal-->
<div class="modal fade"
     data-backdrop="static"
     data-keyboard="false" id="select_wareLocation_searchModel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" >
                    选择库位</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline">
                    <div class="form-group">
                        <label>库位代码：</label>
                        <input type="text" class="form-control" placeholder="货品代码">
                    </div>
                    <div class="form-group">
                        <label>所属库区：</label>
                        <input type="email" class="form-control" placeholder="货品名称">
                    </div>
                    <div class="form-group">
                        <label>库位名称：</label>
                        <input type="email" class="form-control" placeholder="包装单位">
                    </div>
                    <button type="submit" class="btn btn-primary">查询</button>
                </form>
                <div class="receive-table" data-example-id="hoverable-table">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>
                                <label>
                                    <input type="checkbox" aria-label="...">
                                </label>
                            </th>
                            <th>序号</th>
                            <th>库位代码</th>
                            <th>所属库区</th>
                            <th>库位名称</th>
                            <th>区</th>
                            <th>排</th>
                            <th>列</th>
                            <th>层</th>
                            <th>存储</th>
                            <th>额定存储</th>
                            <th>备注</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th><label>
                                <input type="checkbox" aria-label="...">
                            </label></th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <page></page>
            </div>

        </div>
    </div>
</div>
<!--选择库位modal end-->