<div>
    <nav class="navbar navbar-default navbar-static-top ">
        <div class="container-fluid" style="height:60px;">
            <div class="navbar-header" >
                <a class="navbar-brand" href="#">
                    <div class="logoBg"></div>
                </a>

            </div>
            <div class="collapse navbar-collapse mg20">

                <div class="nav navbar-nav">
                    <h3>WMS仓储管理系统</h3>
                </div>
                <div class="nav navbar-nav navbar-right mg-tp5">
                    <h5>你好，<a class="mg-rt20" ui-sref=".personCenter">张三</a> 当前仓库：<span class="mg-lt5">仓库1</span>
                        <a href="" class="mg-lt30 mg-rt20">退出</a></h5>
                </div>
            </div>
        </div>
    </nav>
    <section class="ware_container ">
        <div class="ware_content">
            <ul class="nav nav-justified ware_title">
                <li ui-sref-active="active"><a ui-sref=".home">首页</a></li>
                <li ui-sref-active="active"><a ui-sref=".storeMgmt">仓储管理</a></li>
                <li ui-sref-active="active"><a ui-sref=".monitoringCenter">监控中心</a></li>
                <li ui-sref-active="active"><a ui-sref=".gardenMgmt">园区管理</a></li>
                <li ui-sref-active="active"><a href="">报表中心</a></li>
                <li ui-sref-active="active"><a ui-sref=".basicData">基础数据</a></li>
                <li ui-sref-active="active"><a ui-sref=".sysSetting">系统管理</a></li>
            </ul>
        </div>
        <div  ui-view></div>

    </section>
</div>



