
<div class="form-group  has-feedback">
    <label class="col-sm-2 control-label receive-form-title">历史查询</label>
    <div class="col-sm-10 ">
        <div class="receive-form-input">
           <input type="text" class="form-control"  onfocus="this.blur()" placeholder="请选择">
           <span class="form-control-feedback receive_message" aria-hidden="true">
                           <span ng-if="sources.length!==0" class="color-red">{{sources.length}}</span>
           </span>
        </div>
        <ul class="history-message" ng-show="showList" >
            <li title="{{showListTitle(s)}}" class="history-message-items"  ng-repeat="s in sources track by $index">
               <span ng-click="selectHistoryClick(s)" ng-if="!s.showAllText">{{showListText(s)}}</span> <span ng-click="selectHistoryClick(s)" ng-if="s.showAllText">{{showListTitle(s)}}</span>
                <i ng-click="sources.splice($index,1)" class="fa fa-window-close  pull-right" aria-hidden="true"></i>
            </li>
        </ul>
    </div>
</div>