<div class="receive_container">
    <div class="receive_container">
        <form class="form-horizontal" name="storeSearchForm" novalidate>
            <div class="row">
                <div class="col-sm-2 form-horizontal">
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title">租赁企业</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="parkOrgBusiStasReqParam.orgName" class="form-control"
                                   required name="orgName"
                                   placeholder="租赁企业">
                            <span ng-if="!parkOrgBusiStasReqParam.orgName.$error.required"  clear-input-btn="parkOrgBusiStasReqParam.orgName"  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                        </div>
                    </div>

                </div>
                <div class="col-sm-2 form-horizontal">
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title">租赁客商</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  ng-model="parkOrgBusiStasReqParam.merchantName"
                                   name="merchantName" required
                                   placeholder="租赁客商">
                            <span ng-if="!parkOrgBusiStasReqParam.merchantName.$error.required"  clear-input-btn="parkOrgBusiStasReqParam.merchantName" class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                        </div>
                    </div>

                </div>
                <div class="col-sm-4 form-horizontal">
                    <div class="form-group  has-feedback">
                        <label class="col-sm-2 control-label receive-form-title" >统计日期</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control"  ng-model="parkOrgBusiStasReqParam.beginDate"
                                   name="beginDate" required date-pick-select
                                   placeholder="开始日期">
                            <span  class="fa fa-calendar form-control-feedback" aria-hidden="true"></span>
                        </div>
                        <label class="col-sm-1 control-label text-center">-</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control"  ng-model="parkOrgBusiStasReqParam.endDate"
                                   name="endDate" required date-pick-select
                                   placeholder="结束日期">
                            <span  class="fa fa-calendar form-control-feedback" aria-hidden="true"></span>
                        </div>
                    </div>

                </div>
                <div class="col-sm-2 form-horizontal">
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-4 control-label receive-form-title">业务类型</label>
                        <div class="col-sm-8">
                            <select class="form-control" ng-model="parkOrgBusiStasReqParam.parkOrgBusiStas.busiType">
                                <option value="" selected>请选择</option>
                                <option value="{{l.key}}" ng-repeat="l in BUSITYPE">{{l.value}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 form-horizontal">
                    <div class="row">
                        <div class=" col-sm-offset-2">
                            <button type="button" class="btn btn-info" ng-click="searchAction.search()">查询</button>
                            <button type="button" class="btn btn-info" ng-click="searchAction.reset()">重置</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="recevive_tables receive_btns">


    <div class="receive-table" data-example-id="hoverable-table">
        <table class="table table-hover table-striped">
            <thead>
            <tr>

                <th>序号</th>
                <th>租赁企业</th>
                <th>租赁客商</th>
                <th>统计日期</th>
                <th>单据号</th>
                <th>业务类型</th>
                <th>业务数量/公斤/立方</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="l in searchAction.dataList">
                <td>{{$index+1}}</td>
                <td>{{l.orgName}}</td>
                <td>{{l.merchantName}}</td>
                <td>{{l.parkOrgBusiStas.stasDate}}</td>
                <td>{{l.parkOrgBusiStas.docNo}}</td>
                <td>{{l.busiTypeComment}}</td>
                <td>{{l.parkOrgBusiStas.stasQty}}/{{l.parkOrgBusiStas.stasWeight}}/{{l.parkOrgBusiStas.stasVolume}}</td>
            </tr>

            </tbody>
        </table>
    </div>
    <!-- /example -->
    <page page-data="searchAction.dataList" url="/busiStas/qryList" page-model-query="ParkOrgBusiStasModelQuery"></page>


</div>
<footer></footer>



