<div class="ware_sec_nav">
   <div class="ware_sec_nav_content">
       <ul class="nav nav-pills ware_sec_nav_title ware_sec_nav_tit">
           <li ui-sref-active="sec_nav_active"><a ui-sref=".rentalMgmt">出租管理</a></li>
           <li ui-sref-active="sec_nav_active"><a ui-sref=".leaseWarning">租期预警</a></li>
           <li ui-sref-active="sec_nav_active"><a ui-sref=".businessStatistics">业务统计</a></li>
       </ul>
   </div>
</div>
<div class="wms_container" ui-view></div>
<back-to-top></back-to-top>
<back-to-bottom></back-to-bottom>