
<section class="animate-enter-leave"  ng-if="btnAction.showIndex">
    <div class="receive_container">
        <div class="receive_container">
            <form class="form-horizontal" name="storeSearchForm" novalidate>
                <div class="row">
                    <div class="col-sm-2 form-horizontal">
                        <div class="form-group  has-feedback">
                            <label class="col-sm-4 control-label receive-form-title">货主</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="searchReceiveMsg.ownerComment" class="form-control"
                                       required name="ownerComment"
                                       placeholder="货主">
                                <span ng-if="!storeSearchForm.ownerComment.$error.required"  clear-input-btn="searchReceiveMsg.ownerComment"  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-2 form-horizontal">
                        <div class="form-group  has-feedback">
                            <label class="col-sm-4 control-label receive-form-title">货品代码</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control"  ng-model="searchReceiveMsg.asn.poNo"
                                       name="poNo" required
                                       placeholder="货品代码">
                                <span ng-if="!storeSearchForm.poNo.$error.required"  clear-input-btn="searchReceiveMsg.asn.poNo" class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-2 form-horizontal">
                        <div class="form-group  has-feedback">
                            <label class="col-sm-4 control-label receive-form-title" for="exampleInputName2">货品名称</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control"  ng-model="searchReceiveMsg.asn.asnNo"
                                       name="asnNo" required
                                       placeholder="货品名称">
                                <span ng-if="!storeSearchForm.asnNo.$error.required" clear-input-btn="searchReceiveMsg.asn.asnNo"  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-2 form-horizontal">
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-4 control-label receive-form-title">状态</label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-model="searchReceiveMsg.asn.asnStatus">
                                    <option value="" selected>请选择</option>
                                    <option value="{{l.key}}" ng-repeat="l in getOriginData.bgGoodsStatus">{{l.value}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 form-horizontal">

                        <div class="row">
                            <div class=" col-sm-offset-2 btn-mr16">
                                <button type="button" class="btn btn-info" ng-click="searchformAction.search()">查询</button>
                                <button type="button" class="btn btn-info" ng-click="searchformAction.reset()">重置</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="recevive_tables receive_btns">
        <!--按钮组-->
        <div class="row ">
            <div class="col-sm-10 col-sm-offset-1">
                <button type="button" class="btn btn-info" ng-click="btnAction.addAsn()">新增</button>

                <button type="button" class="btn btn-info" ng-click="btnAction.modifyAsn(11)">修改</button>

                <button type="button" class="btn btn-info">生效</button>

                <button type="button" class="btn btn-info">失效</button>

            </div>
        </div>
        <!--按钮组end-->
        <div class="receive-table" data-example-id="hoverable-table">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>
                        <label>
                            <input type="checkbox" aria-label="...">
                        </label>
                    </th>
                    <th>序号</th>
                    <th>货主</th>
                    <th>货品代码</th>
                    <th>货品名称</th>
                    <th>货品条码</th>
                    <th>基本包装</th>
                    <th>货品分类1</th>
                    <th>货品分类2</th>
                    <th>保质期（天）</th>
                    <th>属性1</th>
                    <th>属性2</th>
                    <th>属性3</th>
                    <th>属性4</th>
                    <th>状态</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th><label>
                        <input type="checkbox" aria-label="...">
                    </label></th>
                    <td>1</td>
                    <td>海关</td>
                    <td><a ng-click="btnAction.showDetailActionGetData(13)">435325345345</a></td>
                    <td>进口产品库位1</td>
                    <td>库区1</td>
                    <td>6000</td>
                    <td>转账</td>
                    <td>按月</td>
                    <td>按月</td>
                    <td>15</td>
                    <td>每天</td>
                    <td>系统</td>
                    <td>轻放</td>
                    <td>打开</td>

                </tr>

                </tbody>
            </table>
        </div>
        <!-- /example -->


        <page></page>
    </div>
    <footer></footer>
</section>

<!--新增/修改库位-->
<section class="animate-enter-leave posAb" ng-if="btnAction.showAddOrModify">
    <form class="form-horizontal" name="storeSearchForm" novalidate>
        <panel title="{{btnAction.showText.firstTitle}}">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title"><span class="color-red">*</span>货主</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="searchReceiveMsg.ownerComment" class="form-control"
                                   required name="ownerComment" onfocus="this.blur()" ng-click="btnAction.searchModel('selectOrganizationModal')"
                                   placeholder="请选择">
                            <span class="fa fa-search form-control-feedback color345795" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title">计量单位</label>
                        <div class="col-sm-8">
                            <select class="form-control" ng-model="searchReceiveMsg.asn.asnStatus">
                                <option value="" selected>请选择</option>
                                <option value="{{l.key}}" ng-repeat="l in getOriginData.AdjustStatus">{{l.value}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title"><span class="color-red">*</span>货品代码</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  ng-model="searchReceiveMsg.asn.asnNo"
                                   name="asnNo" required
                                   placeholder="货品代码">
                            <span ng-if="!storeSearchForm.asnNo.$error.required"
                                  clear-input-btn="searchReceiveMsg.asn.asnNo"
                                  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title">规格型号</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  ng-model="searchReceiveMsg.asn.asnNo"
                                   name="asnNo" required
                                   placeholder="规格型号">
                            <span ng-if="!storeSearchForm.asnNo.$error.required"
                                  clear-input-btn="searchReceiveMsg.asn.asnNo"
                                  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title"><span class="color-red">*</span>货品名称</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  ng-model="searchReceiveMsg.asn.asnNo"
                                   name="asnNo" required
                                   placeholder="规格型号">
                            <span ng-if="!storeSearchForm.asnNo.$error.required"
                                  clear-input-btn="searchReceiveMsg.asn.asnNo"
                                  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title">单重</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  ng-model="searchReceiveMsg.asn.asnNo"
                                   name="asnNo" required
                                   placeholder="单重">
                            <span ng-if="!storeSearchForm.asnNo.$error.required"
                                  clear-input-btn="searchReceiveMsg.asn.asnNo"
                                  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title" for="exampleInputName2">货品条码</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  ng-model="searchReceiveMsg.asn.asnNo"
                                   name="asnNo" required
                                   placeholder="货品条码">
                            <span ng-if="!storeSearchForm.asnNo.$error.required"
                                  clear-input-btn="searchReceiveMsg.asn.asnNo"
                                  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title">单体</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  ng-model="searchReceiveMsg.asn.asnNo"
                                   name="asnNo" required
                                   placeholder="单体">
                            <span ng-if="!storeSearchForm.asnNo.$error.required"
                                  clear-input-btn="searchReceiveMsg.asn.asnNo"
                                  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="headline"></div>
            <div class="row mg-tp10">
                <div class="col-sm-3">
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title">货品分类</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  ng-model="searchReceiveMsg.asn.asnNo"
                                   name="asnNo" required
                                   placeholder="货品分类">
                            <span ng-if="!storeSearchForm.asnNo.$error.required"
                                  clear-input-btn="searchReceiveMsg.asn.asnNo"
                                  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title">属性1</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  ng-model="searchReceiveMsg.asn.asnNo"
                                   name="asnNo" required
                                   placeholder="属性1">
                            <span ng-if="!storeSearchForm.asnNo.$error.required"
                                  clear-input-btn="searchReceiveMsg.asn.asnNo"
                                  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title">保质期(天)</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  ng-model="searchReceiveMsg.asn.asnNo"
                                   name="asnNo" required
                                   placeholder="保质期(天)">
                            <span ng-if="!storeSearchForm.asnNo.$error.required"
                                  clear-input-btn="searchReceiveMsg.asn.asnNo"
                                  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title">属性2</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  ng-model="searchReceiveMsg.asn.asnNo"
                                   name="asnNo" required
                                   placeholder="属性2">
                            <span ng-if="!storeSearchForm.asnNo.$error.required"
                                  clear-input-btn="searchReceiveMsg.asn.asnNo"
                                  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title">安全库存</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control pd-rt5"  ng-model="searchReceiveMsg.asn.asnNo"
                                   name="asnNo" required
                                   placeholder="数量">
                        </div>
                        <label class="col-sm-1 col-sm-3-1-label">-</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control pd-rt5"  ng-model="searchReceiveMsg.asn.asnNo"
                                   name="asnNo" required
                                   placeholder="数量">

                        </div>
                    </div>
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title">属性3</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  ng-model="searchReceiveMsg.asn.asnNo"
                                   name="asnNo" required
                                   placeholder="属性3">
                            <span ng-if="!storeSearchForm.asnNo.$error.required"
                                  clear-input-btn="searchReceiveMsg.asn.asnNo"
                                  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title">&nbsp;</label>
                        <div class="col-sm-8">
                            &nbsp;
                        </div>
                    </div>
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title">属性4</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  ng-model="searchReceiveMsg.asn.asnNo"
                                   name="asnNo" required
                                   placeholder="属性4">
                            <span ng-if="!storeSearchForm.asnNo.$error.required"
                                  clear-input-btn="searchReceiveMsg.asn.asnNo"
                                  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group  has-feedback">
                <label class="col-sm-1 control-label receive-form-title">备注</label>
                <div class="col-sm-8">
                    <textarea class="form-control" rows="3" placeholder="备注"></textarea>
                </div>
            </div>
        </panel>
        <panel title="货品包装">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title">包装单位</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  ng-model="searchReceiveMsg.asn.asnNo"
                                   name="asnNo" required
                                   placeholder="包装单位">
                            <span ng-if="!storeSearchForm.asnNo.$error.required"
                                  clear-input-btn="searchReceiveMsg.asn.asnNo"
                                  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title">公斤</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  ng-model="searchReceiveMsg.asn.asnNo"
                                   name="asnNo" required
                                   placeholder="公斤">
                            <span ng-if="!storeSearchForm.asnNo.$error.required"
                                  clear-input-btn="searchReceiveMsg.asn.asnNo"
                                  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title">宽(CM)</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  ng-model="searchReceiveMsg.asn.asnNo"
                                   name="asnNo" required
                                   placeholder="宽(CM)">
                            <span ng-if="!storeSearchForm.asnNo.$error.required"
                                  clear-input-btn="searchReceiveMsg.asn.asnNo"
                                  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title">包装系数</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  ng-model="searchReceiveMsg.asn.asnNo"
                                   name="asnNo" required
                                   placeholder="包装系数">
                            <span ng-if="!storeSearchForm.asnNo.$error.required"
                                  clear-input-btn="searchReceiveMsg.asn.asnNo"
                                  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title">立方</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  ng-model="searchReceiveMsg.asn.asnNo"
                                   name="asnNo" required
                                   placeholder="立方">
                            <span ng-if="!storeSearchForm.asnNo.$error.required"
                                  clear-input-btn="searchReceiveMsg.asn.asnNo"
                                  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title">高(CM)</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  ng-model="searchReceiveMsg.asn.asnNo"
                                   name="asnNo" required
                                   placeholder="高(CM)">
                            <span ng-if="!storeSearchForm.asnNo.$error.required"
                                  clear-input-btn="searchReceiveMsg.asn.asnNo"
                                  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title">包装级别</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  ng-model="searchReceiveMsg.asn.asnNo"
                                   name="asnNo" required
                                   placeholder="包装级别">
                            <span ng-if="!storeSearchForm.asnNo.$error.required"
                                  clear-input-btn="searchReceiveMsg.asn.asnNo"
                                  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title">长(CM)</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  ng-model="searchReceiveMsg.asn.asnNo"
                                   name="asnNo"
                                   placeholder="长(CM)">
                            <span ng-if="!storeSearchForm.asnNo.$error.required"
                                  clear-input-btn="searchReceiveMsg.asn.asnNo"
                                  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mg-lt20">
                <button class="btn btn-info mg-lt20">加入列表</button>
                <button class="btn btn-info mg-lt20">确认修改</button>
                <button class="btn btn-info mg-lt20">删除</button>
                <button class="btn btn-info mg-lt20">重置</button>
            </div>
            <div class="receive-table" data-example-id="hoverable-table">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>
                            <label>
                                <input type="checkbox" aria-label="...">
                            </label>
                        </th>
                        <th>序号</th>
                        <th>包装单位</th>
                        <th>包装系数</th>
                        <th>包装级别</th>
                        <th>公斤</th>
                        <th>立方</th>
                        <th>长(M)</th>
                        <th>宽(M)</th>
                        <th>高(M)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th><label>
                            <input type="checkbox" aria-label="...">
                        </label></th>
                        <td>1</td>
                        <td>海关</td>
                        <td><a ng-click="btnAction.showDetailActionGetData(13)">435325345345</a></td>
                        <td>进口产品库位1</td>
                        <td>库区1</td>
                        <td>6000</td>
                        <td>转账</td>
                        <td>按月</td>
                        <td>打开</td>

                    </tr>

                    </tbody>
                </table>
            </div>
        </panel>
        <div class="mg-bm-50 mg-lt20">
            <button class="btn btn-info mg-lt20">暂存</button>
            <button class="btn btn-info mg-lt20">保存并返回</button>
            <button class="btn btn-info mg-lt20" ng-click="btnAction.addAsn()">返回</button>
        </div>
    </form>
</section>
<!--/新增/修改库位-->

<!--查看库位-->
<section class="animate-enter-leave posAb" ng-if="btnAction.showDetail">
    <form class="form-horizontal" name="storeSearchForm" novalidate>
        <panel title="货品详情">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title"><span class="color-red">*</span>货主</label>
                        <div class="col-sm-8">
                            <label class="form-control text-left pdTp5">林安物流园</label>
                        </div>
                    </div>
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title">计量单位</label>
                        <div class="col-sm-8">
                            <label class="form-control text-left pdTp5">林安物流园</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title"><span class="color-red">*</span>货品代码</label>
                        <div class="col-sm-8">
                            <label class="form-control text-left pdTp5">林安物流园</label>
                        </div>
                    </div>
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title">规格型号</label>
                        <div class="col-sm-8">
                            <label class="form-control text-left pdTp5">林安物流园</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title"><span class="color-red">*</span>货品名称</label>
                        <div class="col-sm-8">
                            <label class="form-control text-left pdTp5">林安物流园</label>
                        </div>
                    </div>
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title">单重</label>
                        <div class="col-sm-8">
                            <label class="form-control text-left pdTp5">林安物流园</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title" for="exampleInputName2">货品条码</label>
                        <div class="col-sm-8">
                            <label class="form-control text-left pdTp5">林安物流园</label>
                        </div>
                    </div>
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title">单体</label>
                        <div class="col-sm-8">
                            <label class="form-control text-left pdTp5">林安物流园</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="headline"></div>
            <div class="row mg-tp10">
                <div class="col-sm-3">
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title">货品分类</label>
                        <div class="col-sm-8">
                            <label class="form-control text-left pdTp5">林安物流园</label>
                        </div>
                    </div>
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title">属性1</label>
                        <div class="col-sm-8">
                            <label class="form-control text-left pdTp5">林安物流园</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title">保质期(天)</label>
                        <div class="col-sm-8">
                            <label class="form-control text-left pdTp5">林安物流园</label>
                        </div>
                    </div>
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title">属性2</label>
                        <div class="col-sm-8">
                            <label class="form-control text-left pdTp5">林安物流园</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title">安全库存</label>
                        <div class="col-sm-8">
                            <label class="form-control text-left pdTp5">10 - 90</label>
                        </div>

                    </div>
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title">属性3</label>
                        <div class="col-sm-8">
                            <label class="form-control text-left pdTp5">林安物流园</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title">&nbsp;</label>
                        <div class="col-sm-8">
                            &nbsp;
                        </div>
                    </div>
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title">属性4</label>
                        <div class="col-sm-8">
                            <label class="form-control text-left pdTp5">林安物流园</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group  has-feedback">
                <label class="col-sm-1 control-label receive-form-title">备注</label>
                <div class="col-sm-8">
                    <label class="form-control text-left pdTp5">林安物流园</label>
                </div>
            </div>
        </panel>
        <panel title="货品包装">
            <div class="receive-table" data-example-id="hoverable-table">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>

                        <th>序号</th>
                        <th>包装单位</th>
                        <th>包装系数</th>
                        <th>包装级别</th>
                        <th>公斤</th>
                        <th>立方</th>
                        <th>长(M)</th>
                        <th>宽(M)</th>
                        <th>高(M)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>

                        <td>1</td>
                        <td>海关</td>
                        <td>sdfsdf</td>
                        <td>进口产品库位1</td>
                        <td>库区1</td>
                        <td>6000</td>
                        <td>转账</td>
                        <td>按月</td>
                        <td>打开</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </panel>
        <div class="mg-bm-50 mg-lt20">
            <button class="btn btn-info mg-lt20">暂存</button>
            <button class="btn btn-info mg-lt20">保存并返回</button>
            <button class="btn btn-info mg-lt20" ng-click="btnAction.turnShowDetail()">返回</button>
        </div>
    </form>
</section>
<!--/查看库位-->

<!--选择组织弹框-->
<search-modal  id="selectOrganizationModal" title="选择组织" lg="true">
    <div class="modal-body">
        <form class="form-inline">
            <div class="form-group">
                <label>组织代码：</label>
                <input type="text" class="form-control" placeholder="货品代码">
            </div>
            <div class="form-group">
                <label>组织名称：</label>
                <input type="email" class="form-control" placeholder="货品名称">
            </div>
            <div class="form-group">
                <label>负责人：</label>
                <input type="email" class="form-control" placeholder="包装单位">
            </div>
            <button type="submit" class="btn btn-primary">查询</button>
        </form>
        <div class="receive-table" data-example-id="hoverable-table">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>
                        <label>
                            <input type="checkbox" aria-label="...">
                        </label>
                    </th>
                    <th>序号</th>
                    <th>组织代码</th>
                    <th>组织简称</th>
                    <th>组织名称</th>
                    <th>负责人</th>
                    <th>联系电话</th>
                    <th>备注</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th><label>
                        <input type="checkbox" aria-label="...">
                    </label></th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>

                </tbody>
            </table>
        </div>
        <page></page>
    </div>
</search-modal>
<!--/选择组织弹框end-->