<section class="animate-enter-leave"  ng-if="searchLocSpecAction.showIndex">
    <div class="receive_container">
        <div class="receive_container">
            <form class="form-horizontal" name="searchLocSpecForm" novalidate>
                <div class="row">
                    <div class="col-sm-2 form-horizontal">
                        <div class="form-group  has-feedback">
                            <label class="col-sm-4 control-label receive-form-title">规格代码</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="searchLocSpecAction.voModel.likeLocSpecNo" class="form-control"
                                       required name="likeLocSpecNo"
                                       placeholder="规格代码">
                                <span ng-if="!searchLocSpecForm.likeLocSpecNo.$error.required"  clear-input-btn="searchLocSpecAction.voModel.likeLocSpecNo"  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-2 form-horizontal">
                        <div class="form-group  has-feedback">
                            <label class="col-sm-4 control-label receive-form-title">规格名称</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control"  ng-model="searchLocSpecAction.voModel.likeLocSpecName"
                                       name="likeLocSpecName" required
                                       placeholder="规格名称">
                                <span ng-if="!searchLocSpecForm.likeLocSpecName.$error.required"  clear-input-btn="searchLocSpecAction.voModel.likeLocSpecName" class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-4 form-horizontal">
                        <div class="row">
                            <label for="inputPassword3" class="col-sm-3 control-label receive-form-title">载重(KG)&nbsp;&nbsp;</label>
                            <div class="col-sm-4">
                                <div class="form-group  has-feedback">
                                    <input type="number" class="form-control"  ng-model="searchLocSpecAction.voModel.minWeight"
                                           name="minWeight" required
                                           placeholder="最小值">
                                    <span ng-if="!searchLocSpecForm.minWeight.$error.required"  clear-input-btn="searchLocSpecAction.voModel.minWeight" class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                                </div>
                            </div>
                            <label class="col-sm-1 control-label text-center">-</label>
                            <div class="col-sm-4">
                                <div class="form-group  has-feedback">
                                    <input type="number" class="form-control"  ng-model="searchLocSpecAction.voModel.maxWeight"
                                           name="maxWeight" required
                                           placeholder="最大值">
                                    <span ng-if="!searchLocSpecForm.maxWeight.$error.required"  clear-input-btn="searchLocSpecAction.voModel.maxWeight" class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 form-horizontal">
                        <div class="row">
                            <div class=" col-sm-offset-2 btn-mr16">
                                <button type="button" class="btn btn-info" ng-click="searchLocSpecAction.search()">查询</button>
                                <button type="button" class="btn btn-info" ng-click="searchLocSpecAction.reset()">重置</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="recevive_tables receive_btns">
        <!--按钮组-->
        <div class="row ">
            <div class="col-sm-10 col-sm-offset-1">
                <button type="button" class="btn btn-info"  ng-click="searchLocSpecAction.add()">新增</button>

                <button type="button" class="btn btn-info" ng-click="searchLocSpecAction.modify()">修改</button>

                <button type="button" class="btn btn-info" ng-click="searchLocSpecAction.active()">生效</button>

                <button type="button" class="btn btn-info" ng-click="searchLocSpecAction.inactive()">失效</button>

            </div>
        </div>
        <!--按钮组end-->
        <div class="receive-table" data-example-id="hoverable-table">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>
                        <label>
                            <!--<input type="checkbox" aria-label="...">-->
                        </label>
                    </th>
                    <th>仓库</th>
                    <th>规格代码</th>
                    <th>规格名称</th>
                    <th>长（M）</th>
                    <th>宽（M）</th>
                    <th>高（M）</th>
                    <th>载重（KG）</th>
                    <th>备注</th>
                    <th>状态</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="pageItem in searchLocSpecAction.listVO"  ng-click="searchLocSpecAction.selectModify($index,$event)"
                    ng-class="{'info':searchLocSpecAction.currentSelectItems==$index&&searchLocSpecAction.selectedItems[$index]==true}" >
                    <td>
                        <label>
                            <input type="checkbox" class="chk_selectItem" aria-label="..."  ng-model="searchLocSpecAction.selectedItems[$index]" ng-change="searchLocSpecAction.selectModify($index,$event)" />
                        </label>
                    </td>
                    <td ng-bind="pageItem.warehouseComment">仓库</th>
                    <td ng-bind="pageItem.locSpec.specNo">规格代码</th>
                    <td ng-bind="pageItem.locSpec.specName">规格名称</th>
                    <td ng-bind="pageItem.locSpec.specLength| nullIsZero:2">长（M）</th>
                    <td ng-bind="pageItem.locSpec.specWidth| nullIsZero:2">宽（M）</th>
                    <td ng-bind="pageItem.locSpec.specHeight| nullIsZero:2">高（M）</th>
                    <td ng-bind="pageItem.locSpec.specWeight| nullIsZero:2">载重（KG）</th>
                    <td ng-bind="pageItem.locSpec.note">备注</th>
                    <td ng-bind="pageItem.locSpecStatusComment">状态</th>
                </tr>

                </tbody>
            </table>
        </div>
        <!-- /example -->


        <page page-data="searchLocSpecAction.listVO" url="{{listLocSpec_url}}" page-model-query="pageModelQuery"></page>
    </div>
    <footer></footer>
</section>
<!--新增/修改仓库-->
<section class="animate-enter-leave posAb" ng-if="searchLocSpecAction.showAddOrModify">
    <form class="form-horizontal" name="addLocSpecForm" novalidate>
        <panel title="{{searchLocSpecAction.showText.firstTitle}}">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title"><span class="color-red">*</span>规格代码</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  ng-model="addLocSpecAction.voModel.locSpec.specNo"
                                   name="specNo" required id="specNo"
                                   ng-class="{'error':addLocSpecAction.voModel.locSpec.specNo==''&&addLocSpecAction.tooltipIsOpen}"
                                   uib-tooltip="请输入规格代码"
                                   tooltip-placement="top" tooltip-class="customClass"
                                   tooltip-trigger="'none'"
                                   tooltip-is-open="addLocSpecAction.tooltipIsOpen"
                                   tooltip-enable="addLocSpecAction.voModel.locSpec.specNo==''"
                                   placeholder="规格代码">
                            <span ng-if="!searchLocSpecForm.specNo.$error.required"
                                  clear-input-btn="addLocSpecAction.voModel.locSpec.specNo"
                                  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title">长(CM)</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  ng-model="addLocSpecAction.voModel.locSpec.specLength"
                                   name="specLength" required ng-keyup="addLocSpecAction.sumVolume()" inputNumberOnly
                                   placeholder="长(CM)">

                            <span ng-if="!searchLocSpecForm.specLength.$error.required" ng-click="addLocSpecAction.sumVolume()"
                                  turn-to-min="addLocSpecAction.voModel.locSpec.specLength" min="0"
                                  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                        </div>
                    </div>

                </div>
                <div class="col-sm-3">
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title"><span class="color-red">*</span>规格名称</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  ng-model="addLocSpecAction.voModel.locSpec.specName"
                                   name="specName" required
                                   ng-class="{'error':addLocSpecAction.voModel.locSpec.specName==''&&addLocSpecAction.tooltipIsOpen}"
                                   uib-tooltip="请输入规格名称"
                                   tooltip-placement="top" tooltip-class="customClass"
                                   tooltip-trigger="'none'"
                                   tooltip-is-open="addLocSpecAction.tooltipIsOpen"
                                   tooltip-enable="addLocSpecAction.voModel.locSpec.specName==''"
                                   placeholder="规格名称">
                            <span ng-if="!searchLocSpecForm.specName.$error.required"
                                  clear-input-btn="addLocSpecAction.voModel.locSpec.specName"
                                  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title">宽(CM)</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  ng-model="addLocSpecAction.voModel.locSpec.specWidth"
                                   name="specWidth" required  ng-keyup="addLocSpecAction.sumVolume()" inputNumberOnly
                                   placeholder="宽(CM)">
                            <span ng-if="!searchLocSpecForm.specWidth.$error.required" ng-click="addLocSpecAction.sumVolume()"
                                  turn-to-min="addLocSpecAction.voModel.locSpec.specWidth" min="0"
                                  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                        </div>
                    </div>

                </div>
                <div class="col-sm-3">
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title"><span class="color-red">*</span>最大库容量</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  ng-model="addLocSpecAction.voModel.locSpec.maxCapacity"
                                   name="maxCapacity" required input-number-only
                                   ng-class="{'error':addLocSpecAction.voModel.locSpec.maxCapacity==''&&addLocSpecAction.tooltipIsOpen}"
                                   uib-tooltip="请输入规格名称"
                                   tooltip-placement="top" tooltip-class="customClass"
                                   tooltip-trigger="'none'"
                                   tooltip-is-open="addLocSpecAction.tooltipIsOpen"
                                   tooltip-enable="addLocSpecAction.voModel.locSpec.maxCapacity==''"
                                   placeholder="最大库容量">
                            <span ng-if="!searchLocSpecForm.maxCapacity.$error.required"
                                  clear-input-btn="addLocSpecAction.voModel.locSpec.maxCapacity"
                                  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title">高(CM)</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  ng-model="addLocSpecAction.voModel.locSpec.specHeight"
                                   name="specHeight" required ng-keyup="addLocSpecAction.sumVolume()" inputNumberOnly
                                   placeholder="高(CM)">
                            <span ng-if="!searchLocSpecForm.specHeight.$error.required" ng-click="addLocSpecAction.sumVolume()"
                                  turn-to-min="addLocSpecAction.voModel.locSpec.specHeight" min="0"
                                  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group  has-feedback">
                        <label class="col-sm-3 control-label receive-form-title">载重(KG)</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control"  ng-model="addLocSpecAction.voModel.locSpec.specWeight"
                                   name="specWeight" required inputNumberOnly
                                   placeholder="载重(KG)">
                            <span ng-if="!searchLocSpecForm.specWeight.$error.required"
                                  clear-input-btn="addLocSpecAction.voModel.locSpec.specWeight"
                                  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="form-group  has-feedback">
                        <label class="col-sm-3 control-label receive-form-title">体积(CM³)</label>
                        <div class="col-sm-9">
                            <label class="text-left form-control pdTp5" ng-bind="addLocSpecAction.voModel.specVolume"></label>
                        </div>
                    </div>

                </div>
            </div>
            <div class="form-group  has-feedback">
                <label class="col-sm-1 control-label receive-form-title">备注</label>
                <div class="col-sm-9">
                    <textarea class="form-control" rows="3" placeholder="备注" ng-model="addLocSpecAction.voModel.locSpec.note"></textarea>
                </div>
            </div>

        </panel>
        <div class="mg-bm-50 mg-lt20">
            <button class="btn btn-info mg-lt20" ng-click="addLocSpecAction.save()">暂存</button>
            <button class="btn btn-info mg-lt20" ng-click="addLocSpecAction.saveAndBack()">保存并返回</button>
            <button class="btn btn-info mg-lt20" ng-click="searchLocSpecAction.backToIndex()">返回</button>
        </div>
    </form>
</section>
<!--/新增/修改仓库-->


