
<section >
    <section class="animate-enter-leave"  ng-if="btnAction.showIndex">
        <div class="receive_container">
            <form class="form-horizontal" name="storeSearchForm" novalidate>
                <div class="row">
                    <div class="col-sm-2 form-horizontal">
                        <div class="form-group  has-feedback">
                            <label class="col-sm-4 control-label receive-form-title">货主</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="searchReceiveMsg.ownerComment" class="form-control"
                                       required name="ownerComment"
                                       placeholder="货主">
                                <span ng-if="!storeSearchForm.ownerComment.$error.required"  clear-input-btn="searchReceiveMsg.ownerComment"  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="inputPassword3" class="col-sm-4 control-label receive-form-title">订单日期</label>
                            <div class="col-sm-8 ">
                                <input type="text" ng-model="searchReceiveMsg.asn.orderDate" class="form-control"  date-pick-select  placeholder="订单日期">
                                <span  class="fa fa-calendar form-control-feedback" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 form-horizontal">
                        <div class="form-group  has-feedback">
                            <label class="col-sm-4 control-label receive-form-title">PO单号</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control"  ng-model="searchReceiveMsg.asn.poNo"
                                       name="poNo" required
                                       placeholder="PO单号">
                                <span ng-if="!storeSearchForm.poNo.$error.required"  clear-input-btn="searchReceiveMsg.asn.poNo" class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-4 control-label receive-form-title">单据来源</label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-model="searchReceiveMsg.asn.dataFrom" ng-options="l.value as l.value for l in getOriginData.dataFromLists">
                                    <!--<option value="0" selected>请选择</option>-->
                                    <!--<option value="10">手动录入</option>-->
                                    <!--<option value="20">批量导入</option>-->
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 form-horizontal">
                        <div class="form-group  has-feedback">
                            <label class="col-sm-4 control-label receive-form-title" for="exampleInputName2">ASN单号</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control"  ng-model="searchReceiveMsg.asn.asnNo"
                                       name="asnNo" required
                                       placeholder="ASN单号">
                                <span ng-if="!storeSearchForm.asnNo.$error.required" clear-input-btn="searchReceiveMsg.asn.asnNo"  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="inputPassword3" class="col-sm-4 control-label receive-form-title">创建人</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control"  ng-model="searchReceiveMsg.createPersonComment"
                                       name="createPerson" required
                                       placeholder="创建人">
                                <span ng-if="!storeSearchForm.createPerson.$error.required" clear-input-btn="searchReceiveMsg.createPersonComment"  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 form-horizontal">
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-4 control-label receive-form-title">状态</label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-model="searchReceiveMsg.asn.asnStatus" ng-options="l.value as l.value for l in getOriginData.asnStatusLists">
                                    <!--<option value="0">请选择</option>-->
                                    <!--<option value="10">打开</option>-->
                                    <!--<option value="11">生效</option>-->
                                    <!--<option value="12">取消</option>-->
                                    <!--<option value="13">部分收货</option>-->
                                    <!--<option value="14">已收货</option>-->
                                    <!--<option value="15">部分上架</option>-->
                                    <!--<option value="16">已上架</option>-->
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 form-horizontal">
                        <!--历史查询指令-->
                        <history-message sources="historyMessages" select-history="searchReceiveMsg" ></history-message>
                        <!--历史查询指令end-->
                        <div class="row">
                            <div class=" col-sm-offset-2">
                                <button type="button" class="btn btn-info" ng-click="searchformAction.search()">查询</button>
                                <button type="button" class="btn btn-info" ng-click="searchformAction.reset()">重置</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>


        <div class="recevive_tables receive_btns">
            <!--按钮组-->
            <div class="row ">
                <div class="col-sm-10 col-sm-offset-1">
                    <button type="button" ng-click="btnAction.addAsn()" class="btn btn-info">新增</button>

                    <button type="button" ng-click="btnAction.modifyAsn()" class="btn btn-info">修改</button>

                    <button type="button"  class="btn btn-info">生效</button>

                    <button type="button" class="btn btn-info">失效</button>

                    <button type="button" class="btn btn-info">取消</button>

                    <button type="button" ng-click="btnAction.MakeSureGetGoodsBtn()"  class="btn btn-info">收货确认</button>

                    <button type="button"  ng-click="btnAction.searchModel('bulkGoodsModal')" class="btn btn-info">批量收货</button>

                    <button type="button" ng-click="btnAction.splitAsn()" class="btn btn-info">拆分</button>

                    <button type="button" class="btn btn-info">取消拆分</button>
                </div>
            </div>
            <!--按钮组end-->

            <!--表格-->
            <div class="receive-table" data-example-id="hoverable-table">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>
                            <label>
                                <input type="checkbox" aria-label="...">
                            </label>
                        </th>

                        <th>货主</th>
                        <th>仓库</th>
                        <th>ASN单号</th>
                        <th>父编码</th>
                        <th>订单类型</th>
                        <th>单据来源</th>
                        <th>PO单号<br>
                            相关单号1<br>
                            相关单号2</th>
                        <th>订单日期</th>
                        <th>订单数量/公斤/立方</th>
                        <th>收货数量/公斤/立方</th>
                        <th>上架数量/公斤/立方</th>
                        <th>状态</th>
                        <th>创建人<br>
                            创建时间</th>
                        <th>最后修改人<br>
                            修改时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th><label>
                            <input type="checkbox" aria-label="...">
                        </label></th>
                        <td>联想</td>
                        <td>广州RDC</td>
                        <td><a ng-click="btnAction.showAsnDetailActionGetData(12)">87656899644</a></td>
                        <td></td>
                        <td>采购订单</td>
                        <td>Excel导入</td>
                        <td>151515121<br>
                            A616-1200<br>
                            B516100</td>
                        <td>2016/10/10</td>
                        <td>100/0/0</td>
                        <td>100/0/0</td>
                        <td>100/0/0</td>
                        <td>生效</td>
                        <td>张三<br>
                            2016/10/10<br>
                            22:22:22</td>
                        <td>张三<br>
                            2016/10/10<br>
                            22:22:22</td>

                    </tr>

                    </tbody>
                </table>
            </div>
            <!-- /表格 -->
            <page></page>
        </div>

        <footer></footer>
    </section>

    <!--新增ASN和修改ASN调用 -->
    <section class="animate-enter-leave posAb" ng-if="btnAction.showAddOrModify">
        <form class="form-horizontal" name="storeSearchForm" novalidate>
        <div class="panel-group mg-tp20" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h3 class="panel-title">
                        <a role="button" ng-init="status.open=true" ng-click="status.open=!status.open" class="btn-block" data-toggle="collapse" data-target="#collapseOne"  aria-expanded="true" aria-controls="collapseOne">
                           {{btnAction.showText.firstTitle}}
                            <i class="fa  pull-right" ng-class="{'fa-hand-paper-o': status.open, 'fa-hand-rock-o': !status.open}" aria-hidden="true"></i>
                        </a>
                    </h3>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group  has-feedback">
                                    <label class="col-sm-3 control-label receive-form-title">仓库</label>
                                    <div class="col-sm-9">
                                        <label class="text-left pdTp5">{{getWarehouseId}}</label>
                                    </div>
                                </div>
                                <div class="form-group  has-feedback">
                                    <label class="col-sm-3 control-label receive-form-title">相关单号1</label>
                                    <div class="col-sm-9">
                                        <input type="text" ng-model="searchReceiveMsg.ownerComment" class="form-control"
                                               required name="ownerComment"
                                               placeholder="相关单号1">
                                        <span ng-if="!storeSearchForm.ownerComment.$error.required"
                                              clear-input-btn="searchReceiveMsg.ownerComment"
                                              class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                                    </div>
                                </div>

                                <div class="form-group  has-feedback">
                                    <label class="col-sm-3 control-label receive-form-title">总数量</label>
                                    <div class="col-sm-9">
                                        <label class="col-sm-4 control-label"></label>
                                    </div>
                                </div>
                                <div class="form-group has-feedback">
                                    <label for="inputPassword3" class="col-sm-3 control-label receive-form-title"><span class="color-red">*</span>订单日期</label>
                                    <div class="col-sm-9 ">
                                        <input type="text" ng-model="searchReceiveMsg.asn.orderDate" class="form-control"  date-pick-select  placeholder="订单日期">
                                        <span  class="fa fa-calendar form-control-feedback" aria-hidden="true"></span>
                                    </div>
                                </div>

                                <div class="form-group  has-feedback">
                                    <label class="col-sm-3 control-label receive-form-title">联系人</label>
                                    <div class="col-sm-9">
                                        <input type="text" ng-model="searchReceiveMsg.ownerComment" class="form-control"
                                               required name="ownerComment"
                                               placeholder="联系人">
                                        <span ng-if="!storeSearchForm.ownerComment.$error.required"
                                              clear-input-btn="searchReceiveMsg.ownerComment"
                                              class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-4">
                                <div class="form-group  has-feedback">
                                    <label class="col-sm-4 control-label receive-form-title">ASN单号</label>
                                    <div class="col-sm-8">
                                        <label class="col-sm-4 control-label"></label>
                                    </div>
                                </div>
                                <div class="form-group  has-feedback">
                                    <label class="col-sm-4 control-label receive-form-title">相关单号2</label>
                                    <div class="col-sm-8">
                                        <input type="text" ng-model="searchReceiveMsg.ownerComment" class="form-control"
                                               required name="ownerComment"
                                               placeholder="相关单号2">
                                        <span ng-if="!storeSearchForm.ownerComment.$error.required"  clear-input-btn="searchReceiveMsg.ownerComment"  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                                    </div>
                                </div>

                                <div class="form-group  has-feedback">
                                    <label class="col-sm-4 control-label receive-form-title">总重量(KG)</label>
                                    <div class="col-sm-8">
                                        <label class="col-sm-4 control-label"></label>
                                    </div>
                                </div>
                                <div class="form-group has-feedback">
                                    <label for="inputPassword3" class="col-sm-4 control-label receive-form-title"><span class="color-red">*</span>货主</label>
                                    <div class="col-sm-8 ">
                                        <input type="text" ng-model="searchReceiveMsg.asn.orderDate" class="form-control"  date-pick-select  placeholder="货主">
                                        <span ng-if="!storeSearchForm.ownerComment.$error.required"
                                              clear-input-btn="searchReceiveMsg.ownerComment"
                                              class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                                    </div>
                                </div>

                                <div class="form-group  has-feedback">
                                    <label class="col-sm-4 control-label receive-form-title">联系电话</label>
                                    <div class="col-sm-8">
                                        <input type="text" ng-model="searchReceiveMsg.ownerComment" class="form-control"
                                               required name="ownerComment"
                                               placeholder="联系电话">
                                        <span ng-if="!storeSearchForm.ownerComment.$error.required"
                                              clear-input-btn="searchReceiveMsg.ownerComment"
                                              class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group  has-feedback">
                                    <label class="col-sm-3 control-label receive-form-title">PO单号</label>
                                    <div class="col-sm-8">
                                        <input type="text" ng-model="searchReceiveMsg.ownerComment" class="form-control"
                                               required name="ownerComment"
                                               placeholder="PO单号">
                                        <span ng-if="!storeSearchForm.ownerComment.$error.required"
                                              clear-input-btn="searchReceiveMsg.ownerComment"
                                              class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div class="form-group  has-feedback">
                                    <label class="col-sm-3 control-label receive-form-title"><span class="color-red">*</span>单据类型</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" ng-model="searchReceiveMsg.asn.dataFrom" ng-options="l.value as l.value for l in getOriginData.dataFromLists">
                                            <!--<option value="0" selected>请选择</option>-->
                                            <!--<option value="10">手动录入</option>-->
                                            <!--<option value="20">批量导入</option>-->
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group  has-feedback">
                                    <label class="col-sm-3 control-label receive-form-title">总体积(CBM)</label>
                                    <div class="col-sm-8">
                                        <label class="col-sm-4 control-label"></label>
                                    </div>
                                </div>
                                <div class="form-group has-feedback">
                                    <label for="inputPassword3" class="col-sm-3 control-label receive-form-title">发货方</label>
                                    <div class="col-sm-8 ">
                                        <input type="text" ng-model="searchReceiveMsg.asn.orderDate" class="form-control"   placeholder="发货方">
                                        <span ng-if="!storeSearchForm.ownerComment.$error.required"
                                              clear-input-btn="searchReceiveMsg.ownerComment"
                                              class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mg-lf">
                            <div class="form-group  has-feedback">
                                <label class="col-sm-1 control-label receive-form-title">联系地址</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control"  ng-model="searchReceiveMsg.asn.poNo"
                                           name="poNo" required
                                           placeholder="联系地址">
                                    <span ng-if="!storeSearchForm.poNo.$error.required"  clear-input-btn="searchReceiveMsg.asn.poNo" class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="form-group  has-feedback">
                                <label class="col-sm-1 control-label receive-form-title">备注</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" rows="3" placeholder="备注"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="panel-group"  role="tablist2" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" >
                    <h3 class="panel-title">
                        <a role="button" ng-init="status.openTwo=true" ng-click="status.openTwo=!status.openTwo" class="btn-block" data-toggle="collapse" data-target="#collapseTwo"  aria-expanded="true" aria-controls="collapseOne">
                            货品明细
                            <i class="fa  pull-right" ng-class="{'fa-hand-paper-o': status.openTwo, 'fa-hand-rock-o': !status.openTwo}" aria-hidden="true"></i>
                        </a>
                    </h3>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group  has-feedback">
                                        <label class="col-sm-3 control-label receive-form-title"><span class="color-red">*</span>货品代码</label>
                                        <div class="col-sm-9">
                                            <input type="text" ng-model="searchReceiveMsg.ownerComment" class="form-control"
                                                   required name="ownerComment" onfocus="this.blur()" ng-click="btnAction.searchModel('searchModel')"
                                                   placeholder="货品代码">
                                            <span ng-if="!storeSearchForm.ownerComment.$error.required"
                                                  clear-input-btn="searchReceiveMsg.ownerComment"
                                                  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="form-group  has-feedback">
                                        <label class="col-sm-3 control-label receive-form-title">规格型号</label>
                                        <div class="col-sm-9">
                                            <input type="text" ng-model="searchReceiveMsg.ownerComment" class="form-control"
                                                   required name="ownerComment"
                                                   placeholder="规格型号">
                                            <span ng-if="!storeSearchForm.ownerComment.$error.required"
                                                  clear-input-btn="searchReceiveMsg.ownerComment"
                                                  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                                        </div>
                                    </div>

                                    <div class="form-group  has-feedback">
                                        <label class="col-sm-3 control-label receive-form-title">公斤</label>
                                        <div class="col-sm-9 ">
                                            <input type="number" ng-model="searchReceiveMsg.asn.orderDate" class="form-control"  placeholder="公斤">
                                            <span ng-if="!storeSearchForm.ownerComment.$error.required"
                                                  clear-input-btn="searchReceiveMsg.ownerComment"
                                                  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group  has-feedback">
                                        <label class="col-sm-3 control-label receive-form-title"><span class="color-red">*</span>货品名称</label>
                                        <div class="col-sm-9">
                                            <input type="text" ng-model="searchReceiveMsg.ownerComment" class="form-control"
                                                   required name="ownerComment" disabled  value="国际A货"
                                                   placeholder="货品名称">
                                            <span ng-if="!storeSearchForm.ownerComment.$error.required"
                                                  clear-input-btn="searchReceiveMsg.ownerComment"
                                                  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="form-group  has-feedback">
                                        <label class="col-sm-3 control-label receive-form-title">计量单位</label>
                                        <div class="col-sm-9">
                                            <input type="text" ng-model="searchReceiveMsg.ownerComment" class="form-control"
                                                   required name="ownerComment"
                                                   placeholder="计量单位 如：件">
                                            <span ng-if="!storeSearchForm.ownerComment.$error.required"
                                                  clear-input-btn="searchReceiveMsg.ownerComment"
                                                  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                                        </div>
                                    </div>

                                    <div class="form-group  has-feedback">
                                        <label class="col-sm-3 control-label receive-form-title">立方</label>
                                        <div class="col-sm-9 ">
                                            <input type="number" ng-model="searchReceiveMsg.asn.orderDate" class="form-control"  placeholder="立方">
                                            <span ng-if="!storeSearchForm.ownerComment.$error.required"
                                                  clear-input-btn="searchReceiveMsg.ownerComment"
                                                  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group  has-feedback">
                                        <label class="col-sm-3 control-label receive-form-title">批次</label>
                                        <div class="col-sm-9">
                                            <input type="text" ng-model="searchReceiveMsg.ownerComment" class="form-control"
                                                   required name="ownerComment"
                                                   placeholder="批次">
                                            <span ng-if="!storeSearchForm.ownerComment.$error.required"
                                                  clear-input-btn="searchReceiveMsg.ownerComment"
                                                  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="form-group  has-feedback">
                                        <label class="col-sm-3 control-label receive-form-title"><span class="color-red">*</span>数量</label>
                                        <div class="col-sm-9">
                                            <input type="text" ng-model="searchReceiveMsg.ownerComment" class="form-control"
                                                   required name="ownerComment"
                                                   placeholder="数量">
                                            <span ng-if="!storeSearchForm.ownerComment.$error.required"
                                                  clear-input-btn="searchReceiveMsg.ownerComment"
                                                  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-offset-1 col-sm-1">
                                    <button class="btn btn-info">新增</button>
                                </div>
                                <div class="col-sm-1">
                                    <button class="btn btn-info" ng-click="btnAction.addAsn()">修改</button>
                                </div>
                                <div class="col-sm-1">
                                    <button class="btn btn-info" ng-click="btnAction.addAsn()">删除</button>
                                </div>
                            </div>
                        </div>
                        <!--表格-->
                        <div class="receive-table" data-example-id="hoverable-table">
                            <table class="table table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>
                                        <label>
                                            <input type="checkbox" aria-label="...">
                                        </label>
                                    </th>
                                    <th>序号</th>
                                    <th>货品代码</th>
                                    <th>货品名称</th>
                                    <th>批次</th>
                                    <th>规格型号</th>
                                    <th>计量单位</th>
                                    <th>数量/公斤/立方</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th><label>
                                        <input type="checkbox" aria-label="...">
                                    </label></th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- /表格 -->
                    </div>
                </div>
            </div>
        </div>

        <div class="row mg-bm-50">
            <div class="col-sm-offset-1 col-sm-1">
                <button class="btn btn-info">保存</button>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-info" ng-click="btnAction.addAsn()">返回</button>
            </div>
        </div>
        </form>
    </section>
    <!--新增ASN和修改ASN调用end-->

    <!--收货确认 页面-->
    <section class="animate-enter-leave posAb" ng-if="btnAction.showMakeSureGetGoods">
        <form class="form-horizontal" name="storeSearchForm" novalidate>


            <div class="panel-group mg-tp20"  role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" >
                        <h3 class="panel-title">
                            <a role="button" ng-init="status.openOwn=true" ng-click="status.openOwn=!status.openOwn" class="btn-block" data-toggle="collapse" data-target="#collapseMakesureReceive"  aria-expanded="true" aria-controls="collapseOne">
                                收货确认
                                <i class="fa  pull-right" ng-class="{'fa-hand-paper-o': status.openOwn, 'fa-hand-rock-o': !status.openOwn}" aria-hidden="true"></i>
                            </a>

                        </h3>
                    </div>
                    <div id="collapseMakesureReceive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-1">
                                    <div class="form-group  has-feedback">
                                        <label class="col-sm-3 control-label receive-form-title"><span class="color-red">*</span>工作人员</label>
                                        <div class="col-sm-9">
                                            <input type="text" ng-model="searchReceiveMsg.ownerComment" class="form-control"
                                                   required name="ownerComment" onfocus="this.blur()" ng-click="btnAction.searchModel('select_users_searchModel')"
                                                   placeholder="请选择">
                                            <span class="fa fa-search form-control-feedback color345795" aria-hidden="true"></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group  has-feedback">
                                        <label class="col-sm-3 control-label receive-form-title"><span class="color-red">*</span>批量选择库位</label>
                                        <div class="col-sm-8">
                                            <input type="text" ng-model="searchReceiveMsg.ownerComment" class="form-control"
                                                   required name="ownerComment"
                                                   onfocus="this.blur()" ng-click="btnAction.searchModel('select_wareLocation_searchModel')"
                                                   placeholder="请选择">
                                            <span class="fa fa-search form-control-feedback color345795" aria-hidden="true"></span>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--发货明细 和收货详情-->
            <div class="row">
                <div class="col-sm-8">
                    <div class="panel-group"  role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h3 class="panel-title">
                                    <a role="button" ng-init="status.openTwo=true" ng-click="status.openTwo=!status.openTwo" class="btn-block" data-toggle="collapse" data-target="#collapseTwoMS"  aria-expanded="true" aria-controls="collapseOne">
                                        货品明细
                                        <i class="fa  pull-right" ng-class="{'fa-hand-paper-o': status.openTwo, 'fa-hand-rock-o': !status.openTwo}" aria-hidden="true"></i>
                                    </a>
                                </h3>
                            </div>
                            <div id="collapseTwoMS" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body pd5">
                                    <!--表格-->
                                    <div class="receive-table" data-example-id="hoverable-table">
                                        <table class="table table-hover table-striped">
                                            <thead>
                                            <tr>
                                                <th>
                                                    <label>
                                                        <input type="checkbox" aria-label="...">
                                                    </label>
                                                </th>
                                                <th>货品代码</th>
                                                <th>货品名称</th>
                                                <th>批次</th>
                                                <th>规格型号</th>
                                                <th>包装单位</th>
                                                <th>数量/公斤/立方</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <th><label>
                                                    <input type="checkbox" aria-label="...">
                                                </label></th>
                                                <td>Mark</td>
                                                <td>Otto</td>
                                                <td>@mdo</td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /表格 -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel-group"  role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h3 class="panel-title">
                                    <div role="button" class="btn-block"  aria-expanded="true" aria-controls="collapseOne">
                                        收货详情
                                        <i class="fa fa-minus-square pull-right color345795" aria-hidden="true"></i>
                                        <i class="fa fa-plus-square pull-right color345795" aria-hidden="true"></i>
                                    </div>
                                </h3>
                            </div>
                            <div id="collapseThrMS" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body pd5">
                                    <!--表格-->
                                    <div class="receive-table" data-example-id="hoverable-table">
                                        <table class="table table-hover table-striped">
                                            <thead>
                                            <tr>
                                                <th>收货数量</th>
                                                <th>收货公斤</th>
                                                <th>收货立方</th>
                                                <th>收货库位</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <div class="form-group has-feedback MakeSureAsn_input">
                                                        <input type="number" class="form-control input-sm" ng-model="searchReceiveMsg.ownerComment" aria-describedby="inputSuccess5Status">
                                                    </div>
                                                </td>
                                                <td> <div class="form-group has-feedback MakeSureAsn_input">
                                                    <input type="number" class="form-control input-sm" ng-model="searchReceiveMsg.ownerComment" aria-describedby="inputSuccess5Status">
                                                </div></td>
                                                <td> <div class="form-group has-feedback MakeSureAsn_input">
                                                    <input type="number" class="form-control input-sm" ng-model="searchReceiveMsg.ownerComment" aria-describedby="inputSuccess5Status">
                                                </div></td>
                                                <td>
                                                    <div class="form-group has-feedback MakeSureAsn_input">
                                                    <input type="text" class="form-control input-sm"
                                                           ng-model="searchReceiveMsg.ownerComment" aria-describedby="inputSuccess5Status">
                                                    <span class="fa fa-search form-control-feedback right2" ng-click="btnAction.searchModel('select_wareLocation_searchModel')"  aria-hidden="true"></span>
                                                    </div>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /表格 -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--发货明细 和收货详情end-->

            <div class="row mg-bm-50">
                <div class="col-sm-offset-1 col-sm-1">
                    <button class="btn btn-info">确认收货</button>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-info" ng-click="btnAction.MakeSureGetGoodsBtn()">返回</button>
                </div>
            </div>
        </form>
    </section>
    <!--收货确认end-->

    <!--或者拆分ASN单-->
    <section class="animate-enter-leave posAb" ng-if="btnAction.showSplitAsn">
        <form class="form-horizontal" name="storeSearchForm" novalidate>
            <div class="panel-group mg-tp20" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" >
                        <h3 class="panel-title">
                            <a role="button" ng-init="status.open=true" ng-click="status.open=!status.open" class="btn-block" data-toggle="collapse" data-target="#splitAsnDetail"  aria-expanded="true" aria-controls="collapseOne">
                                拆分ASN单
                                <i class="fa  pull-right" ng-class="{'fa-hand-paper-o': status.open, 'fa-hand-rock-o': !status.open}" aria-hidden="true"></i>
                            </a>
                        </h3>
                    </div>
                    <div id="splitAsnDetail" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group  has-feedback">
                                        <label class="col-sm-3 control-label receive-form-title">仓库</label>
                                        <div class="col-sm-9">
                                            <label class="text-left pdTp5">{{getWarehouseId}}</label>
                                        </div>
                                    </div>
                                    <div class="form-group  has-feedback">
                                        <label class="col-sm-3 control-label receive-form-title">相关单号1</label>
                                        <div class="col-sm-9">
                                            <label class="text-left pdTp5">{{getWarehouseId}}</label>
                                        </div>
                                    </div>

                                    <div class="form-group  has-feedback">
                                        <label class="col-sm-3 control-label receive-form-title">总数量</label>
                                        <div class="col-sm-9">
                                            <label class="text-left pdTp5">{{getWarehouseId}}</label>
                                        </div>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label for="inputPassword3" class="col-sm-3 control-label receive-form-title"><span class="color-red">*</span>订单日期</label>
                                        <div class="col-sm-9 ">
                                            <label class="text-left pdTp5">{{getWarehouseId}}</label>
                                        </div>
                                    </div>

                                    <div class="form-group  has-feedback">
                                        <label class="col-sm-3 control-label receive-form-title">联系人</label>
                                        <div class="col-sm-9">
                                            <label class="text-left pdTp5">{{getWarehouseId}}</label>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group  has-feedback">
                                        <label class="col-sm-4 control-label receive-form-title">ASN单号</label>
                                        <div class="col-sm-8">
                                            <label class="text-left pdTp5">{{getWarehouseId}}</label>
                                        </div>
                                    </div>
                                    <div class="form-group  has-feedback">
                                        <label class="col-sm-4 control-label receive-form-title">相关单号2</label>
                                        <div class="col-sm-8">
                                            <label class="text-left pdTp5">{{getWarehouseId}}</label>
                                        </div>
                                    </div>

                                    <div class="form-group  has-feedback">
                                        <label class="col-sm-4 control-label receive-form-title">总重量(KG)</label>
                                        <div class="col-sm-8">
                                            <label class="text-left pdTp5">{{getWarehouseId}}</label>
                                        </div>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label for="inputPassword3" class="col-sm-4 control-label receive-form-title"><span class="color-red">*</span>货主</label>
                                        <div class="col-sm-8 ">
                                            <label class="text-left pdTp5">{{getWarehouseId}}</label>
                                        </div>
                                    </div>

                                    <div class="form-group  has-feedback">
                                        <label class="col-sm-4 control-label receive-form-title">联系电话</label>
                                        <div class="col-sm-8">
                                            <label class="text-left pdTp5">{{getWarehouseId}}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group  has-feedback">
                                        <label class="col-sm-3 control-label receive-form-title">PO单号</label>
                                        <div class="col-sm-8">
                                            <label class="text-left pdTp5">{{getWarehouseId}}</label>
                                        </div>
                                    </div>
                                    <div class="form-group  has-feedback">
                                        <label class="col-sm-3 control-label receive-form-title"><span class="color-red">*</span>单据类型</label>
                                        <div class="col-sm-8">
                                            <label class="text-left pdTp5">{{getWarehouseId}}</label>
                                        </div>
                                    </div>

                                    <div class="form-group  has-feedback">
                                        <label class="col-sm-3 control-label receive-form-title">总体积(CBM)</label>
                                        <div class="col-sm-8">
                                            <label class="text-left pdTp5">{{getWarehouseId}}</label>
                                        </div>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label for="inputPassword3" class="col-sm-3 control-label receive-form-title">发货方</label>
                                        <div class="col-sm-8 ">
                                            <label class="text-left pdTp5">{{getWarehouseId}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mg-lf">
                                <div class="form-group  has-feedback">
                                    <label class="col-sm-1 control-label receive-form-title">联系地址</label>
                                    <div class="col-sm-8">
                                        <label class="text-left pdTp5">{{getWarehouseId}}</label>
                                    </div>
                                </div>
                                <div class="form-group  has-feedback">
                                    <label class="col-sm-1 control-label receive-form-title">备注</label>
                                    <div class="col-sm-8">
                                        <label class="text-left pdTp5">{{getWarehouseId}}</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-group"  role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" >
                        <h3 class="panel-title">
                            <a role="button" ng-init="status.openTwo=true" ng-click="status.openTwo=!status.openTwo" class="btn-block" data-toggle="collapse" data-target="#splitAsnTable"  aria-expanded="true" aria-controls="collapseOne">
                                货品明细
                                <i class="fa  pull-right" ng-class="{'fa-hand-paper-o': status.openTwo, 'fa-hand-rock-o': !status.openTwo}" aria-hidden="true"></i>
                            </a>
                        </h3>
                    </div>
                    <div id="splitAsnTable" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body pd5">

                            <!--表格-->
                            <div class="receive-table" data-example-id="hoverable-table">
                                <table class="table table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>拆分数量</th>
                                        <th>拆分公斤</th>
                                        <th>拆分立方</th>
                                        <th>订单数量/公斤/立方</th>
                                        <th>货品代码</th>
                                        <th>货品名称</th>
                                        <th>批次</th>
                                        <th>规格型号</th>
                                        <th>计量单位</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th>1</th>
                                        <td width="14rem">
                                            <div class="form-group has-feedback splitAsn_input">
                                                <input type="number" class="form-control input-sm" ng-model="searchReceiveMsg.ownerComment" aria-describedby="inputSuccess5Status">
                                                <span class="fa fa-times form-control-feedback right20" clear-input-btn="searchReceiveMsg.ownerComment" aria-hidden="true"></span>
                                                <span class="fa fa-repeat form-control-feedback right0" aria-hidden="true"></span>
                                            </div>
                                        </td>
                                        <td width="14rem">
                                            <div class="form-group has-feedback splitAsn_input">
                                                <input type="number" class="form-control input-sm" ng-model="searchReceiveMsg.ownerComment" aria-describedby="inputSuccess5Status">
                                                <span class="fa fa-times form-control-feedback right20" clear-input-btn="searchReceiveMsg.ownerComment" aria-hidden="true"></span>
                                                <span class="fa fa-repeat form-control-feedback right0" aria-hidden="true"></span>
                                            </div>
                                        </td>
                                        <td width="14rem">
                                            <div class="form-group has-feedback splitAsn_input">
                                                <input type="number" class="form-control input-sm" ng-model="searchReceiveMsg.ownerComment" aria-describedby="inputSuccess5Status">
                                                <span class="fa fa-times form-control-feedback right20" clear-input-btn="searchReceiveMsg.ownerComment" aria-hidden="true"></span>
                                                <span class="fa fa-repeat form-control-feedback right0" aria-hidden="true"></span>
                                            </div>
                                        </td>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>Otto</td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                            <!-- /表格 -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mg-bm-50">
                <div class="col-sm-offset-1 col-sm-1">
                    <button class="btn btn-info">确认拆分</button>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-info" ng-click="btnAction.splitAsn()">返回</button>
                </div>
            </div>
        </form>
    </section>
    <!--或者拆分ASN单end-->

    <!--查看ASN单指令 数据绑定需要在指令asn-detail里绑定 作用域是当前controller-->
    <section  class="animate-enter-leave posAb" ng-if="btnAction.showAsnDetail">
        <asn-detail></asn-detail>
    </section>
    <!--查看ASN单指令end-->

</section>