<div class="receive_container">
    <form class="form-horizontal" name="storeSearchForm" novalidate>
    <div class="row">
        <div class="col-sm-2 form-horizontal">
            <div class="form-group  has-feedback">
                <label class="col-sm-4 control-label receive-form-title">货主</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="searchReceiveMsg.ownerComment" class="form-control"
                           required name="ownerComment"
                           placeholder="货主">
                    <span ng-if="!storeSearchForm.ownerComment.$error.required"  clear-input-btn="searchReceiveMsg.ownerComment"  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                </div>
            </div>
            <div class="form-group has-feedback">
                <label for="inputPassword3" class="col-sm-4 control-label receive-form-title">订单日期</label>
                <div class="col-sm-8 ">
                    <input type="text" ng-model="searchReceiveMsg.asn.orderDate" class="form-control"  date-pick-select  placeholder="订单日期">
                    <span  class="fa fa-calendar form-control-feedback" aria-hidden="true"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-2 form-horizontal">
            <div class="form-group  has-feedback">
                <label class="col-sm-4 control-label receive-form-title">PO单号</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control"  ng-model="searchReceiveMsg.asn.poNo"
                           name="poNo" required
                           placeholder="PO单号">
                    <span ng-if="!storeSearchForm.poNo.$error.required"  clear-input-btn="searchReceiveMsg.asn.poNo" class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-4 control-label receive-form-title">单据来源</label>
                <div class="col-sm-8">
                    <select class="form-control" ng-model="searchReceiveMsg.asn.dataFrom" ng-options="l.value as l.value for l in getOriginData.dataFromLists">
                        <!--<option value="0" selected>请选择</option>-->
                        <!--<option value="10">手动录入</option>-->
                        <!--<option value="20">批量导入</option>-->
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-2 form-horizontal">
            <div class="form-group  has-feedback">
                <label class="col-sm-4 control-label receive-form-title" for="exampleInputName2">ASN单号</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control"  ng-model="searchReceiveMsg.asn.asnNo"
                           name="asnNo" required
                           placeholder="ASN单号">
                    <span ng-if="!storeSearchForm.asnNo.$error.required" clear-input-btn="searchReceiveMsg.asn.asnNo"  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                </div>
            </div>
            <div class="form-group has-feedback">
                <label for="inputPassword3" class="col-sm-4 control-label receive-form-title">创建人</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control"  ng-model="searchReceiveMsg.createPersonComment"
                           name="createPerson" required
                           placeholder="创建人">
                    <span ng-if="!storeSearchForm.createPerson.$error.required" clear-input-btn="searchReceiveMsg.createPersonComment"  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-2 form-horizontal">
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-4 control-label receive-form-title">状态</label>
                <div class="col-sm-8">
                    <select class="form-control" ng-model="searchReceiveMsg.asn.asnStatus" ng-options="l.value as l.value for l in getOriginData.asnStatusLists">
                        <!--<option value="0">请选择</option>-->
                        <!--<option value="10">打开</option>-->
                        <!--<option value="11">生效</option>-->
                        <!--<option value="12">取消</option>-->
                        <!--<option value="13">部分收货</option>-->
                        <!--<option value="14">已收货</option>-->
                        <!--<option value="15">部分上架</option>-->
                        <!--<option value="16">已上架</option>-->
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-4 form-horizontal">
            <!--历史查询指令-->
            <history-message sources="historyMessages" select-history="searchReceiveMsg" ></history-message>
            <!--历史查询指令end-->
            <div class="row">
                <div class=" col-sm-offset-2">
                    <button type="button" class="btn btn-info" ng-click="searchformAction.search()">查询</button>
                    <button type="button" class="btn btn-info" ng-click="searchformAction.reset()">重置</button>
                </div>
            </div>
        </div>
    </div>


    </form>


</div>


<div class="recevive_tables receive_btns">
    <!--按钮组-->
    <div class="row ">
        <div class="col-sm-10 col-sm-offset-1">
            <button type="button" class="btn btn-info">新增</button>

            <button type="button" class="btn btn-info">修改</button>

            <button type="button" class="btn btn-info">生效</button>

            <button type="button" class="btn btn-info">失效</button>

            <button type="button" class="btn btn-info">取消</button>

            <button type="button" class="btn btn-info">收货确认</button>

            <button type="button" class="btn btn-info">批量收货</button>

            <button type="button" class="btn btn-info">拆分</button>

            <button type="button" class="btn btn-info">取消拆分</button>
        </div>
    </div>
    <!--按钮组end-->
    <div class="receive-table" data-example-id="hoverable-table">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>
                    <label>
                        <input type="checkbox" aria-label="...">
                    </label>
                </th>
                <th>序号</th>
                <th>货主</th>
                <th>仓库</th>
                <th>ASN单号</th>
                <th>父编码</th>
                <th>订单类型</th>
                <th>单据来源</th>
                <th>PO单号<br>
                    相关单号1<br>
                    相关单号2</th>
                <th>订单日期</th>
                <th>订单数量/公斤/立方</th>
                <th>收货数量/公斤/立方</th>
                <th>上架数量/公斤/立方</th>
                <th>状态</th>
                <th>创建人<br>
                    创建时间</th>
                <th>最后修改人<br>
                    修改时间</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th><label>
                    <input type="checkbox" aria-label="...">
                </label></th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>

            </tbody>
        </table>
    </div>
    <!-- /example -->

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>用户名</th>
            <th>真实姓名</th>
            <th>部门</th>
            <th>岗位</th>
            <th>手机号</th>
            <th>邮箱</th>
            <th>QQ</th>
            <th>创建时间</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in pageData">
            <td ng-bind="item.username"></td>
            <td ng-bind="item.realname"></td>
            <td ng-bind="item.depName"></td>
            <td ng-bind="item.post"></td>
            <td ng-bind="item.phone"></td>
            <td ng-bind="item.email"></td>
            <td ng-bind="item.qq"></td>
            <td ng-bind="item.dt"></td>
        </tr>
        </tbody>
    </table>
    <page></page>
</div>



