
<section class="animate-enter-leave"  ng-if="btnAction.showIndex">
    <div class="receive_container">
        <form class="form-horizontal" name="storeSearchForm" novalidate>
            <div class="row">
                <div class="col-sm-2 form-horizontal">
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title">货主</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="waveReqParam.ownerName" class="form-control"
                                   required name="ownerName"
                                   placeholder="货主">
                            <span ng-if="!waveReqParam.ownerName.$error.required"  clear-input-btn="waveReqParam.ownerName"  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                        </div>
                    </div>

                </div>
                <div class="col-sm-2 form-horizontal">
                    <div class="form-group  has-feedback">
                        <label class="col-sm-4 control-label receive-form-title">波次单号</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  ng-model="waveReqParam.sendWave.waveNo"
                                   name="waveNo" required
                                   placeholder=波次单号">
                            <span ng-if="!waveReqParam.sendWave.waveNo.$error.required"  clear-input-btn="waveReqParam.sendWave.waveNo" class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                        </div>
                    </div>

                </div>
                <!--<div class="col-sm-2 form-horizontal">-->
                    <!--<div class="form-group  has-feedback">-->
                        <!--<label class="col-sm-4 control-label receive-form-title" for="exampleInputName2">发货单号</label>-->
                        <!--<div class="col-sm-8">-->
                            <!--<input type="text" class="form-control"  ng-model="waveReqParam.sendWave.asnNo"-->
                                   <!--name="asnNo" required-->
                                   <!--placeholder="ASN单号">-->
                            <!--<span ng-if="!storeSearchForm.asnNo.$error.required" clear-input-btn="searchReceiveMsg.asn.asnNo"  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>-->
                        <!--</div>-->
                    <!--</div>-->

                <!--</div>-->
                <div class="col-sm-2 form-horizontal">
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-4 control-label receive-form-title">状态</label>
                        <div class="col-sm-8">
                            <select class="form-control" ng-model="waveReqParam.sendWave.waveStatus">
                                <option value="" selected>请选择</option>
                                <option value="{{l.key}}" ng-repeat="l in getOriginData.WAVESTATUS">{{l.value}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 form-horizontal">
                    <!--历史查询指令-->
                    <history-message sources="historyMessages" select-history="searchReceiveMsg" ></history-message>
                    <!--历史查询指令end-->

                </div>
            </div>
            <div class="row pb1">
                <div class="col-sm-offset-9">
                    <button type="button" class="btn btn-info" ng-click="searchformAction.search()">查询</button>
                    <button type="button" class="btn btn-info" ng-click="searchformAction.reset()">重置</button>
                </div>
            </div>

        </form>


    </div>
    <div class="recevive_tables receive_btns">
        <!--按钮组-->
        <div class="row ">
            <div class="col-sm-10 col-sm-offset-1">
                <button type="button" ng-click="btnAction.add()"  class="btn btn-info">新增</button>

                <button type="button" ng-click="searchformAction.modify()" class="btn btn-info">修改</button>

                <button type="button" class="btn btn-info"ng-click="searchformAction.enable()">生效</button>

                <button type="button" class="btn btn-info" ng-click="searchformAction.disable()">失效</button>

                <button type="button" class="btn btn-info" ng-click="searchformAction.cancel()">取消</button>

            </div>
        </div>
        <!--按钮组end-->
        <div class="receive-table" data-example-id="hoverable-table">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>
                        <label>
                            <input type="checkbox" aria-label="..." ng-model="searchAction.selectedAll" ng-change="searchAction.chkSelectAll(searchAction.selectedAll)">
                        </label>
                    </th>
                    <th>序号</th>
                    <th>波次单号</th>
                    <th>发货单数</th>
                    <th>计划数量</th>
                    <th>拣选数量</th>
                    <th>状态</th>
                    <!--<th>创建人<br>-->
                        <!--创建时间</th>-->
                    <!--<th>最后修改人<br>-->
                        <!--修改时间</th>-->
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in searchAction.dataList track by $index"
                    ng-click="searchAction.selectOne($index,$event)">
                    <th><label>
                        <input type="checkbox"  ng-model="searchAction.selectedItems[$index]" ng-change="searchAction.selectOne($index,$event)">
                    </label></th>
                    <td>{{$index+1}}</td>
                    <td><a ng-bind="item.sendWave.waveNo" ng-click="searchformAction.view(item.sendWave.waveId)"></a></td>
                    <td ng-bind="item.sendWave.deliveryAmount"></td>
                    <td ng-bind="item.sendWave.orderQty"></td>
                    <td ng-bind="item.totalQty"></td>
                    <td ng-bind="item.statusComment">取消</td>
                </tr>

                </tbody>
            </table>
        </div>
        <!-- /example -->
        <!-- /主页数据表 -->
        <page page-data="searchAction.dataList" url="/wave/qryPageList" page-model-query="wavePageModelQuery"></page>
    </div>
    <footer></footer>
</section>

<!--新增/修改波次单-->
<section class="animate-enter-leave posAb" ng-if="btnAction.showAddOrModify">
    <form class="form-horizontal" name="storeSearchForm" novalidate>
        <div class="panel-group mg-tp20" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h3 class="panel-title">
                        <a role="button" ng-init="status.open=true" ng-click="status.open=!status.open" class="btn-block" data-toggle="collapse" data-target="#collapseOne"  aria-expanded="true" aria-controls="collapseOne">
                            {{btnAction.showText.firstTitle}}
                            <i class="fa  pull-right" ng-class="{'fa-hand-paper-o': status.open, 'fa-hand-rock-o': !status.open}" aria-hidden="true"></i>
                        </a>
                    </h3>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group  has-feedback">
                                    <label class="col-sm-3 control-label receive-form-title">波次单号</label>
                                    <div class="col-sm-9">
                                        <label class="text-left pdTp5">{{waveVoInfo.sendWave.waveNo}}</label>
                                    </div>
                                </div>
                                <div class="form-group  has-feedback">
                                    <label class="col-sm-3 control-label receive-form-title">发货方</label>
                                    <div class="col-sm-9" ng-click="searchDeliveryAction.selectSender()">
                                        <input type="text" ng-model="searchDeliveryAction.searchDeliveryForm.senderName" class="form-control"
                                               required name="sender" onfocus="this.blur()"
                                               placeholder="请选择">
                                        <span class="fa fa-search form-control-feedback color345795" aria-hidden="true"></span>
                                    </div>
                                </div>

                                <div class="form-group  has-feedback">
                                    <label class="col-sm-3 control-label receive-form-title">货主</label>
                                    <div class="col-sm-8" ng-click="searchDeliveryAction.selectOwner()">
                                        <input type="text" ng-model="searchDeliveryAction.searchDeliveryForm.ownerName" id="sendDeliveryOwnerName"
                                               ng-class="{'error':searchDeliveryAction.searchDeliveryForm.ownerName.$invalid&&searchDeliveryAction.tooltipIsOpen}"
                                               uib-tooltip="必须选择货主"
                                               tooltip-placement="top" tooltip-class="customClass"
                                               tooltip-trigger="'none'"
                                               tooltip-is-open="searchDeliveryAction.tooltipIsOpen"
                                               tooltip-enable="searchDeliveryAction.searchDeliveryForm.ownerName.$invalid"
                                               required name="ownerName"
                                               onfocus="this.blur()" class="form-control"  placeholder="请选择">
                                        <span class="fa fa-search form-control-feedback color345795" aria-hidden="true"></span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-4">
                                <div class="form-group  has-feedback">
                                    <label class="col-sm-4 control-label receive-form-title">波次单量/货品数量</label>
                                    <div class="col-sm-8">
                                        <label class="text-left pdTp5">{{waveVoInfo.sendWave.deliveryAmount}}/{{waveVoInfo.sendWave.orderQty}}</label>
                                    </div>
                                </div>
                                <div class="form-group  has-feedback">
                                    <label class="col-sm-4 control-label receive-form-title">起始时间</label>
                                    <div class="col-sm-8">
                                        <input type="text" ng-model="searchDeliveryAction.searchDeliveryForm.beginTime" class="form-control"  date-pick-select  placeholder="订单日期">
                                        <span  class="fa fa-calendar form-control-feedback" aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div class="form-group has-feedback">
                                    <label for="inputPassword3" class="col-sm-4 control-label receive-form-title">
                                        <span class="color-red">*</span>收货方</label>
                                    <div class="col-sm-8 " ng-click="searchDeliveryAction.selectReceiver()">
                                        <input type="text" ng-model="searchDeliveryAction.searchDeliveryForm.receiverName" class="form-control"
                                               required name="receiverName" onfocus="this.blur()"
                                               placeholder="请选择">
                                        <span class="fa fa-search form-control-feedback color345795" aria-hidden="true"></span>
                                    </div>
                                </div>


                            </div>
                            <div class="col-sm-4">
                                <div class="form-group  has-feedback">
                                    <label class="col-sm-4 control-label receive-form-title">&nbsp;</label>
                                    <div class="col-sm-8">
                                        <input type="hidden" lass="form-control"  date-pick-select  placeholder="订单日期">
                                    </div>
                                </div>
                                <div class="form-group  has-feedback">
                                    <label class="col-sm-4 control-label receive-form-title">截止时间</label>
                                    <div class="col-sm-8">
                                        <input type="text" ng-model="searchDeliveryAction.searchDeliveryForm.endTime" class="form-control"  date-pick-select  placeholder="订单日期">
                                        <span  class="fa fa-calendar form-control-feedback" aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div class="form-group  has-feedback">
                                    <div class="col-sm-8 col-sm-offset-4">
                                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseMore" aria-expanded="false" aria-controls="collapseExample">
                                            更多
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="collapse" id="collapseMore">
                            <div class="row">
                               <div class="col-sm-4">

                                   <div class="form-group  has-feedback">
                                       <label class="col-sm-3 control-label receive-form-title">承运商</label>
                                       <div class="col-sm-9">
                                           <input type="text" ng-model="searchReceiveMsg.ownerComment" class="form-control"
                                                  required name="ownerComment" onfocus="this.blur()" ng-click="btnAction.searchModel('selectOrganizationModal')"
                                                  placeholder="收货方">
                                           <span class="fa fa-search form-control-feedback color345795" aria-hidden="true"></span>
                                       </div>
                                   </div>
                                   <div class="form-group  has-feedback">
                                       <label class="col-sm-3 control-label receive-form-title">省份</label>
                                       <div class="col-sm-9">
                                           <input type="text" ng-model="searchDeliveryAction.searchDeliveryForm.sendDelivery.province" class="form-control"
                                                  required name="province"
                                                  placeholder="省份">
                                           <span ng-if="!searchDeliveryAction.searchDeliveryForm.sendDelivery.province.$error.required"  clear-input-btn="searchDeliveryAction.searchDeliveryForm.sendDelivery.province"  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                                       </div>
                                   </div>
                                   <div class="form-group has-feedback">
                                       <label class="col-sm-3 control-label receive-form-title">区县</label>
                                       <div class="col-sm-9 ">
                                           <input type="text" ng-model="searchDeliveryAction.searchDeliveryForm.sendDelivery.county" class="form-control"   placeholder="区县">
                                           <span ng-if="!searchDeliveryAction.searchDeliveryForm.sendDelivery.county.$error.required"
                                                 clear-input-btn="searchDeliveryAction.searchDeliveryForm.sendDelivery.county"
                                                 class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                                       </div>
                                   </div>
                               </div>
                                <div class="col-sm-4">
                                    <div class="form-group has-feedback">
                                        <label for="inputPassword3" class="col-sm-4 control-label receive-form-title">联系人</label>
                                        <div class="col-sm-8 ">
                                            <input type="text" ng-model="searchDeliveryAction.searchDeliveryForm.sendDelivery.contactPerson" class="form-control"  date-pick-select  placeholder="联系人">
                                            <span ng-if="!searchDeliveryAction.searchDeliveryForm.sendDelivery.contactPerson.$error.required"
                                                  clear-input-btn="searchDeliveryAction.searchDeliveryForm.sendDelivery.contactPerson"
                                                  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                                        </div>
                                    </div>

                                    <div class="form-group  has-feedback">
                                        <label class="col-sm-4 control-label receive-form-title">城市</label>
                                        <div class="col-sm-8">
                                            <input type="text" ng-model="searchDeliveryAction.searchDeliveryForm.sendDelivery.city" class="form-control"
                                                   required name="city"
                                                   placeholder="城市">
                                            <span ng-if="!searchDeliveryAction.searchDeliveryForm.sendDelivery.city.$error.required"
                                                  clear-input-btn="searchDeliveryAction.searchDeliveryForm.sendDelivery.city"
                                                  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group  has-feedback">
                                        <label class="col-sm-4 control-label receive-form-title"><span class="color-red">*</span>单据类型</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" ng-model="searchDeliveryAction.searchDeliveryForm.sendDelivery.docType">
                                                <option value="" selected>请选择</option>
                                                <option value="{{l.key}}" ng-repeat="l in getOriginData.DELIVERYTYPE">{{l.value}}</option>
                                                <!--<option value="10">手动录入</option>-->
                                                <!--<option value="20">批量导入</option>-->
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label class="col-sm-4 control-label receive-form-title">联系电话</label>
                                        <div class="col-sm-8 ">
                                            <input type="text" ng-model="searchDeliveryAction.searchDeliveryForm.sendDelivery.contactPhone" class="form-control"   placeholder="联系电话">
                                            <span ng-if="!searchDeliveryAction.searchDeliveryForm.sendDelivery.contactPhone.$error.required"
                                                  clear-input-btn="searchDeliveryAction.searchDeliveryForm.sendDelivery.contactPhone"
                                                  class="fa fa-times form-control-feedback color345795" aria-hidden="true"></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-1">
                                <button class="btn btn-info" ng-click="searchDeliveryAction.search()">查询</button>
                                <button class="btn btn-info mg-lt20"ng-click="searchDeliveryAction.reset()" >重置</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="panel-group"  role="tablist2" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" >
                <h3 class="panel-title">
                    <a role="button" ng-init="status.openTwo=true" ng-click="status.openTwo=!status.openTwo" class="btn-block" data-toggle="collapse" data-target="#collapseTwoAdd"  aria-expanded="true" aria-controls="collapseOne">
                        波次单明细-发货单
                        <button class="btn btn-info mg-lt30" ng-click="searchDeliveryAction.deleteItems($event)">删除</button>
                        <i class="fa  pull-right" ng-class="{'fa-hand-paper-o': status.openTwo, 'fa-hand-rock-o': !status.openTwo}" aria-hidden="true"></i>
                    </a>
                </h3>
            </div>
            <div id="collapseTwoAdd" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <!--表格-->
                    <div class="receive-table" data-example-id="hoverable-table">
                        <table class="table table-hover table-striped">
                            <thead>
                            <tr>
                                <th>
                                    <label>
                                        <input type="checkbox"  ng-model="searchDeliveryAction.selectedAll" ng-change="searchDeliveryAction.chkSelectAll(searchDeliveryAction.selectedAll)">
                                    </label>
                                </th>
                                <!--<th>货主</th>-->
                                <th>发货单号</th>
                                <th>源单号</th>
                                <th>订单类型</th>
                                <th>下单时间</th>
                                <th>单据来源</th>
                                <th>发货方</th>
                                <th>收货方/联系人/联系电话</th>
                                <th>省/市/区县</th>
                                <th>数量/公斤/立方</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="l in searchDeliveryAction.dataList track by $index"
                                ng-click="searchDeliveryAction.selectOne($index,$event)">
                                <th>
                                    <label>
                                    <input type="checkbox" ng-model="searchDeliveryAction.selectedItems[$index]" ng-change="searchDeliveryAction.selectOne($index,$event)">
                                    </label>
                                </th>
                                <!--<td>{{l.ownerName}}</td>-->
                                <td>{{l.sendDelivery.deliveryNo}}</td>
                                <td>{{l.sendDelivery.srcNo}}</td>
                                <td>{{l.docTypeComment}}</td>
                                <td>{{l.sendDelivery.orderTime}}</td>
                                <td>{{l.dataFromComment}}</td>
                                <td>{{l.senderName}}</td>
                                <td>{{l.receiverName}}/{{l.sendDelivery.contactPerson}}/{{l.sendDelivery.contactPhone}}</td>
                                <td>{{l.sendDelivery.province}}/{{l.sendDelivery.city}}/{{l.sendDelivery.county}}</td>
                                <td>{{l.sendDelivery.orderQty}}/{{l.sendDelivery.orderWeight}}/{{l.sendDelivery.orderVolume}}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <!-- /表格 -->
                </div>
            </div>
        </div>
    </div>

        <div class="row mg-bm-50">
            <div class="col-sm-offset-1 ">
                <button class="btn btn-info mg-lt20" ng-click="btnAction.save()">暂存</button>
                <button class="btn btn-info mg-lt20" ng-click="btnAction.saveAndEnable()">保存并生效</button>
                <button class="btn btn-info mg-lt20" ng-click="btnAction.backToIndex()">返回</button>
            </div>
        </div>
    </form>
</section>
<!--/新增/修改波次单-->

<section class="animate-enter-leave posAb" ng-if="btnAction.showAsnDetail">
    <div class="form-horizontal">
        <div class="panel-group mg-tp20" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOneDetail">
                    <h3 class="panel-title">
                        <a role="button" ng-init="status.open=true" ng-click="status.open=!status.open" class="btn-block" data-toggle="collapse" data-target="#collapseOneDetail"  aria-expanded="true" aria-controls="collapseOne">
                            查看波次单
                            <i class="fa  pull-right" ng-class="{'fa-hand-paper-o': status.open, 'fa-hand-rock-o': !status.open}" aria-hidden="true"></i>
                        </a>
                    </h3>
                </div>
                <div id="collapseOneDetail" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group  has-feedback">
                                    <label class="col-sm-3 control-label receive-form-title">波次单号</label>
                                    <div class="col-sm-9">
                                        <label class="text-left pdTp5">{{waveVoInfo.sendWave.waveNo}}</label>
                                    </div>
                                </div>

                                <!--<div class="form-group  has-feedback">-->
                                    <!--<label class="col-sm-3 control-label receive-form-title">货主</label>-->
                                    <!--<div class="col-sm-9">-->
                                        <!--<label class="text-left pdTp5">{{getWarehouseId}}</label>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="form-group has-feedback">-->
                                    <!--<label for="inputPassword3" class="col-sm-3 control-label receive-form-title"><span class="color-red">*</span>收货方</label>-->
                                    <!--<div class="col-sm-9 ">-->
                                        <!--<label class="text-left pdTp5">{{getWarehouseId}}</label>-->
                                    <!--</div>-->
                                <!--</div>-->

                                <!--<div class="form-group  has-feedback">-->
                                    <!--<label class="col-sm-3 control-label receive-form-title">省份</label>-->
                                    <!--<div class="col-sm-9">-->
                                        <!--<label class="text-left pdTp5">{{getWarehouseId}}</label>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="form-group  has-feedback">-->
                                    <!--<label class="col-sm-3 control-label receive-form-title"><span class="color-red">*</span>单据类型</label>-->
                                    <!--<div class="col-sm-8">-->
                                        <!--<label class="text-left pdTp5">{{getWarehouseId}}</label>-->
                                    <!--</div>-->
                                <!--</div>-->
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group  has-feedback">
                                    <label class="col-sm-4 control-label receive-form-title">波次单量/货品数量</label>
                                    <div class="col-sm-8">
                                        <label class="text-left pdTp5">{{waveVoInfo.sendWave.deliveryAmount}}/{{waveVoInfo.sendWave.orderQty}}</label>
                                    </div>
                                </div>
                                <!--<div class="form-group  has-feedback">-->
                                    <!--<label class="col-sm-4 control-label receive-form-title">起始时间</label>-->
                                    <!--<div class="col-sm-8">-->
                                        <!--<label class="text-left pdTp5">{{getWarehouseId}}</label>-->
                                    <!--</div>-->
                                <!--</div>-->

                                <!--<div class="form-group  has-feedback">-->
                                    <!--<label class="col-sm-4 control-label receive-form-title">承运商</label>-->
                                    <!--<div class="col-sm-8">-->
                                        <!--<label class="text-left pdTp5">{{getWarehouseId}}</label>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="form-group has-feedback">-->
                                    <!--<label for="inputPassword3" class="col-sm-4 control-label receive-form-title">联系人</label>-->
                                    <!--<div class="col-sm-8 ">-->
                                        <!--<label class="text-left pdTp5">{{getWarehouseId}}</label>-->
                                    <!--</div>-->
                                <!--</div>-->

                                <!--<div class="form-group  has-feedback">-->
                                    <!--<label class="col-sm-4 control-label receive-form-title">城市</label>-->
                                    <!--<div class="col-sm-8">-->
                                        <!--<label class="text-left pdTp5">{{getWarehouseId}}</label>-->
                                    <!--</div>-->
                                <!--</div>-->
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group  has-feedback">
                                    <label class="col-sm-4 control-label receive-form-title">单据类型</label>
                                    <div class="col-sm-8">
                                        <label class="text-left pdTp5">{{waveVoInfo.statusComment}}</label>
                                    </div>
                                </div>
                                <!--<div class="form-group  has-feedback">-->
                                    <!--<label class="col-sm-4 control-label receive-form-title">截止时间</label>-->
                                    <!--<div class="col-sm-8">-->
                                        <!--<label class="text-left pdTp5">{{getWarehouseId}}</label>-->
                                    <!--</div>-->
                                <!--</div>-->

                                <!--<div class="form-group  has-feedback">-->
                                    <!--<label class="col-sm-4 control-label receive-form-title">配送区域</label>-->
                                    <!--<div class="col-sm-8">-->
                                        <!--<label class="text-left pdTp5">{{getWarehouseId}}</label>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="form-group has-feedback">-->
                                    <!--<label class="col-sm-4 control-label receive-form-title">联系电话</label>-->
                                    <!--<div class="col-sm-8 ">-->
                                        <!--<label class="text-left pdTp5">{{getWarehouseId}}</label>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="form-group has-feedback">-->
                                    <!--<label class="col-sm-4 control-label receive-form-title">区县</label>-->
                                    <!--<div class="col-sm-8 ">-->
                                        <!--<label class="text-left pdTp5">{{getWarehouseId}}</label>-->
                                    <!--</div>-->
                                <!--</div>-->
                            </div>
                        </div>
                        <!--<div class="row mg-lf">-->
                            <!--<div class="form-group  has-feedback">-->
                                <!--<label class="col-sm-1 control-label receive-form-title">备注</label>-->
                                <!--<div class="col-sm-8">-->
                                    <!--<label class="text-left pdTp5">{{getWarehouseId}}</label>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>


        <div class="panel-group"  role="tablist2" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" >
                    <h3 class="panel-title">
                        <a role="button" ng-init="status.openTwo=true" ng-click="status.openTwo=!status.openTwo" class="btn-block" data-toggle="collapse" data-target="#collapseTwo"  aria-expanded="true" aria-controls="collapseOne">
                            波次单明细-发货单
                            <i class="fa  pull-right" ng-class="{'fa-hand-paper-o': status.openTwo, 'fa-hand-rock-o': !status.openTwo}" aria-hidden="true"></i>
                        </a>
                    </h3>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <!--表格-->
                        <div class="receive-table" data-example-id="hoverable-table">
                            <table class="table table-hover table-striped">
                                <thead>
                                <tr>
                                    <!--<th>序号</th>-->
                                    <!--<th>货主</th>-->
                                    <th>发货单号</th>
                                    <th>源单号</th>
                                    <th>订单类型</th>
                                    <th>下单时间</th>
                                    <th>单据来源</th>
                                    <th>发货方</th>
                                    <th>收货方/联系人/联系电话</th>
                                    <th>省/市/区县</th>
                                    <th>数量/公斤/立方</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="l in waveVoInfo.sendDeliberyVoList">
                                    <!--<th><label>-->
                                        <!--<input type="checkbox" aria-label="...">-->
                                    <!--</label></th>-->
                                    <!--<td>{{l.ownerName}}</td>-->
                                    <td>{{l.sendDelivery.deliveryNo}}</td>
                                    <td>{{l.sendDelivery.srcNo}}</td>
                                    <td>{{l.docTypeComment}}</td>
                                    <td>{{l.sendDelivery.orderTime}}</td>
                                    <td>{{l.dataFromComment}}</td>
                                    <td>{{l.senderName}}</td>
                                    <td>{{l.receiverName}}/{{l.sendDelivery.contactPerson}}/{{l.sendDelivery.contactPhone}}</td>
                                    <td>{{l.sendDelivery.province}}/{{l.sendDelivery.city}}/{{l.sendDelivery.county}}</td>
                                    <td>{{l.sendDelivery.orderQty}}/{{l.sendDelivery.orderWeight}}/{{l.sendDelivery.orderVolume}}</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- /表格 -->
                    </div>
                </div>
            </div>
        </div>


        <div class="row mg-bm-50">
            <div class="col-sm-2 col-sm-offset-1 ">
                <button class="btn btn-info" ng-click="btnAction.showAsnDetailAction()">返回</button>
            </div>
        </div>
    </div>
</section>

<confirm-model id="waveConfirm" title=" 友情提示:" content=" 数据已经更改，请确定是否返回！" ok="btnAction.clearAndBack()"></confirm-model>